

{% extends 'base.html' %}
{% load static %}

{% block register %} active-menu {% endblock %}

{% block link_name %} Login {% endblock %}

{% block page_name %} Login {% endblock %}


{% block content %}

	<!-- CONTACTS-2
			============================================= -->
			<section id="contacts-2" class="wide-60 contacts-section division">				
				<div class="container ">
					<div class="row " style="max-width: 50%; margin-left:250px;">	


                        						<!-- CONTACT FORM -->	
				 		<div class=" col-lg-12 text-center ">
                            <div class="form-holder mb-40 " >
                                <form action="" method="POST" class=" row form " enctype="multipart/form-data">
                                    {% csrf_token %}
                                                           
                                    
                                        <div  class="col-md-12 contact-form">
                                            <input type="text" name="email" autocomplete="email" class="form-control email" placeholder="Enter Your Email*" required> 
                                                
                                            <input type="password"  name="password" class="form-control name" placeholder="password*" required> 

                                                
                                         <!-- Contact Form Button -->
                                            <div class="col-lg-12 mt-15 form-btn pt-3">  
                                                <button type="submit" class="btn btn-blue blue-hover submit">login </button> 
                                            </div>

                                            <p class="pt-3"> Do Not Have an Account? </p> <a href="{% url 'accounts:register' %}" class="btn btn-blue-border blue-hover mt-10"> Register </a>  
                                        </div>
                                                          
                               </form> 
                            </div>	
                        </div> 	<!-- END CONTACT FORM -->


				 	</div>	<!-- End row -->			  
				</div>	   <!-- End container -->		
			</section>	<!-- END CONTACTS-2 -->

{% endblock %}



<br><br><br>
Login 

<div style="padding: 20px;">

    {% if loggedin %}
    
    <h4> successfully logged in </h4>
    
    {% elif loggedout %}

    <h4> successfully logged out </h4>

    {% endif %}

    <form action="" method="POST" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3"> 
            <input type="text" name="email" autocomplete="email" class="form-control"  placeholder="Your Email">

            <!-- {{form.email}} -->
            <!-- <input type="text" class="form-control" placeholder="email" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
        </div>
        <br><br>
        <div class="input-group mb-3">
            <input type="password" required  name="password" class="form-control"  placeholder="Password">
            
            
                <!-- <i class="fa fa-eye" id="id_eye" title="Show Password" onclick="make_visible()">v</i> -->
           

            <!-- {{form.password}} -->
            <!-- <input type="text" class="form-control" placeholder="password" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
        </div>
        <br><br>


        <button type="submit"  class="btn btn-dark" >Login</button>
    </form>


    
    {% if user.is_authenticated %}
    
   <a href="{% url 'accounts:logout' %}"> <button  class="btn btn-dark" >Logout</button> </a>
   {% endif %}
</div>








