

<br><br><br>
Registration

{% autoescape off %}
hi {{user.full_name}},click z link below:
http://{{domain}}{% url 'activate' uidb64=uid token=token %}
<!-- <a href="https://{{domain}}{% url 'activate' uidb64=uid token=token %}"> here </a> -->
{% endautoescape %}



<div style="padding: 20px;">

    {% if submitted %}
    
    <h4> successfully submitted </h4>
    {% endif %}

    <form action="" method="POST" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3">
            {{form.email}}
            <!-- <input type="text" class="form-control" placeholder="email" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
        </div>
        <br><br>
        <div class="input-group mb-3">
            {{form.full_name}}
            <!-- <input type="text" class="form-control" placeholder="name" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
        </div>
        <br><br>
        <div class="input-group mb-3">
            {{form.phone}}
            <!-- <input type="text" class="form-control" placeholder="phone" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
        </div>
        <br><br>
        <div class="input-group mb-3">
            {{form.password}}
            <!-- <input type="text" class="form-control" placeholder="password" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
        </div>
        <br><br>
        <div class="input-group mb-3">
            {{form.password2}}
            <!-- <input type="text" class="form-control" placeholder="password" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
        </div>
        <br><br>


        <div class="input-group mb-3">
            <div class="custom-file">
                {{form.profile}}
            <!-- <input type="file" class="custom-file-input" id="inputGroupFile02"> -->
            </div>
        </div>
        <br><br>


        <button type="submit"  class="btn btn-dark" onclick="return confirm('confirm?')" >Register</button>
    </form>

</div>

