



{% extends 'staff/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" id="mce-u0" href="{% static 'tinymce/skins/ui/oxide/skin.min.css' %}">
{% endblock %}

{% block breadcrumb %}

<li class="breadcrumb-item"><a href="{% url 'staff:list_call_app' %}"> List Call Applications </a></li> 
<li class="breadcrumb-item"><a href=""> Add a Call of Application </a> {% endblock %}

{% block content %}


			<!-- POST NEWS-1
			============================================= -->
			<section  class="wide-60 contacts-section division">				
				<div class="container">
						
					<div class="row">	

						<!-- News FORM -->	
				 		<div class="col-md-12 col-lg-12">
				 			<div class="form-holder mb-40">
				 				<form action="" method="POST" class="row " enctype="multipart/form-data">
                                    {% csrf_token %}
					                <!-- News Form Input -->
					                <div  class="contact-form col-md-12 pb-2">
                                        <p style="font-weight: 700;">1. Add a title</p>
                                        {{form.title}}
                                        {{form.error.title}}
					                	<!-- <input type="text" name="name" class="form-control name" placeholder="Enter Your Name*" required>  -->
					                </div>

									
										<!-- Form Select -->
										<div  class="contact-form col-md-12 col-lg-6  pb-2 input-patient">
											<p style="font-weight: 700;">2.Contact Phone</p>
											{{form.phone}}
											{{form.error.phone}}
										</div>
										
										<div  class="contact-form col-md-12 col-lg-6 pb-2">
											<p style="font-weight: 700;">3. Contact Email </p>
											{{form.email}}
											{{form.error.email}}
											<!-- <input type="tel" name="phone" class="form-control phone" placeholder="Enter Your Phone Number*" required>  -->
										</div>
							
                                        
                                        
									{% if edit %}

                                    <div  class="contact-form col-md-12 col-lg-6 pb-2">
                                        <p style="font-weight: 700;">5. Update a Call Document</p>
                                        {{form.document}}
                                        {{form.error.image}}
                                        <!-- <input type="tel" name="phone" class="form-control phone" placeholder="Enter Your Phone Number*" required>  -->
                                    </div>	
                                    


                                    <div  class="contact-form col-md-12 col-lg-6 pb-2">
                                        <p style="font-weight: 700;">5. Update an image</p>
                                        {{form.image}}
                                        {{form.error.image}}
                                        <!-- <input type="tel" name="phone" class="form-control phone" placeholder="Enter Your Phone Number*" required>  -->
                                    </div>	

                                    {% if call.image %}
                                    <div  class="contact-form col-md-12 col-lg-4  pb-2 input-patient">
                                        <a href="{{call.image.url}}" download name="call image"> <img style="height: 110px;" src="{{call.image.url}}" ></a>
                                        <p style="font-weight: 700;">( current image)</p>
                                    </div>

                                    {% endif %}

                                {% else %}
                                
                                    <!-- Form Select -->
                                    <div  class="contact-form col-md-12 col-lg-6  pb-2 input-patient">
                                        <p style="font-weight: 700;">4.Application Document</p>
                                        {{form.document}}
                                        {{form.error.document}}
                                    </div>
                                    
                                    <div  class="contact-form col-md-12 col-lg-6 pb-2">
                                        <p style="font-weight: 700;">5. Choose Image </p>
                                        {{form.image}}
                                        {{form.error.image}}
                                        <!-- <input type="tel" name="phone" class="form-control phone" placeholder="Enter Your Phone Number*" required>  -->
                                    </div>
                                {% endif %}		

                                
                                    <!-- Form Select -->
                                    <div  class="contact-form col-md-12 col-lg-6  pb-2 input-patient">
                                        <p style="font-weight: 700;">6.Application Status</p>
                                        {{form.status}}
                                        {{form.error.status}}
                                    </div>
                                    
                                    <div  class="contact-form col-md-12 col-lg-6 pb-2">
                                        <p style="font-weight: 700;">7. Application End Date </p>
                                        {{form.end_date}}
                                        {{form.error.end_date}}
                                        <!-- <input type="tel" name="phone" class="form-control phone" placeholder="Enter Your Phone Number*" required>  -->
                                    </div>

					                        
					                <div  class="contact-form col-lg-12  pb-2">
                                        <p style="font-weight: 700;">8. About the Application </p>
                                        {{form.desc}}
                                        {{form.error.desc}}
					                	<!-- <textarea class="form-control message" name="message" rows="6" placeholder="Your Message ..." required></textarea> -->
					                </div> 


					                                            
					                <!-- News Form Button -->
					                <div class="col-lg-12 mt-15 form-btn ">  
										{% if edit %}
					                	<button type="submit" class="btn ml-2 " onclick="return confirm('confirm?')" style="background-color: #294e6f; color: #fff;"> Update </button>
										{% else %} 
					                	<button type="submit" class="btn ml-2 " onclick="return confirm('confirm?')" style="background-color:#294e6f; color: #fff;"> Add </button> 
                                        {% endif %}
										<button type="reset" class="btn ml-2" style="border-color: #294e6f; color: #294e6f;">Cancel</button>
					                </div>
					                               
				                                              
				                </form> 


				 			</div>	
				 		</div> 	<!-- END News FORM -->	


				 	</div>	<!-- End row -->	
                    
                    {% if edit  %} 
                    <div class="card-content mt-5">
                        <div class="card-header">
                            <h2 class="text-center">List of submissions</h2>
                        </div>
                        <div class="card-body card-dashboard">
                            <table class="table table-striped table-bordered multi-ordering ">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>CV</th>
                                        <th>Submission Date</th>
                                        
                                    </tr>
                                </thead>
                               
                                <tbody>
                                  {% for p in call.callofsubmission_set.all %}
                                      <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td><img style="width: 40px;" src="{% static 'front/images/user.png' %}"/></td>
                                            <td>{{p.name}}</td>
                                           <td><a href="mailto:{{p.email}}">{{p.email}}</a></td> 
                                            <td>{{p.phone}}</td>
                                            <td><a {% if p.cv %} href="{{p.cv.url}}" download {% else %} href="/" {% endif %}>Download CV</a></td>
                                            <td>{{p.submitted_date}}</td>
    
                                            
                                      </tr>
                                  {% endfor %}
                                </tbody>
                            </table>				
                        </div>
                    </div>
                    
                    {% endif %}
 

				</div>	   <!-- End container -->		
			</section>	<!-- END POST NEWS-1 -->


{% endblock %}


{% block js %} 
<script>
    document.getElementById('id_desc').removeAttribute('required');
</script>
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'tiny_mce/tiny_mce.js' %}"></script>
<script src="{% static 'django_tinymce/init_tinymce.js' %}"></script>
{% endblock %}