{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<title>{% block main_title %} EKC AAU {% endblock %}</title>

<head>
  {% include 'staff/head.html' %}
  {% block style %}
  {% endblock %}
</head>
  <!-- BEGIN: Body-->
  <body id="id_bar" class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar "  data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

    {% include 'staff/header.html' %}
    
    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow expan" data-scroll-to-active="true">
      <div class="main-menu-content" style="margin-bottom: 40px; {% if user.is_superuser %} background-color:#2f3443; {% endif %}">
       
        <ul class="navigation navigation-main " id="main-menu-navigation" data-menu="menu-navigation"
          style=" background-color:#1b5c97; padding-bottom: 110px;">
          
          <li class=" nav-item navigation-header {% block dashboard %} {% endblock %}">
            <a href="{% url 'home' %}"><i class="fa fa-home"></i><span class="menu-title" >View Site</span></a>
          </li>

          <br>
          
          
          <li class=" nav-item {% block index %} {% endblock %}">
            <a href="{% url 'staff:index' %}">
              <span class="menu-title" >Dashboard </span>
            </a>
  
          </li>

          <li class=" nav-item {% block amendment_tab %} {% endblock %}">
            <a href="#">
              <i class="fa fa-upload"></i><span class="menu-title" >Research Outputs</span>
            </a>
            <ul class="menu-content">
              <li class=" nav-item"><a href="{% url 'staff:add_research' %}" class="menu-item"><span class="menu-title" >Add a New Research</span></a></li>
          
              <li class=" nav-item"><a href=" {% url 'staff:list_research' %} " class="menu-item"><span class="menu-title" >List Research Outputs</span></a></li> 
         

              <li class=" nav-item"><a href="{% url 'publication' %}" target="blank"  class="menu-item">
                <span class="menu-title"  > Researches on Site </span></a>
              </li>
            </ul>
  
          </li>

          <li class=" nav-item {% block proposal_tab %} {% endblock %}">
            <a href="#">
              <span class="menu-title" >Call Applications </span>
            </a>
            <ul class="menu-content">
                <li class=" nav-item"><a href="{% url 'staff:add_call_app' %}" class="menu-item">
                  <span class="menu-title" >Add a Call Application </span></a>
                </li>

                <li class=" nav-item"><a href="{% url 'staff:list_call_app' %}" class="menu-item">
                  <span class="menu-title" >List all Calls </span></a>
                </li>
                
                <li class=" nav-item"><a href="" class="menu-item">
                  <span class="menu-title" >List all Submissions </span></a>
                </li>

                <li class=" nav-item"><a href="{% url 'call_application' %}" target="blank"  class="menu-item">
                  <span class="menu-title"  > Call Applications on Site </span></a>
                </li>
            </ul>
            
          </li>
  

          <li class=" nav-item {% block renewal_tab %} {% endblock %}">
            <a href="#">
              <i class="fa fa-paper"></i><span class="menu-title" >Reports</span>
            </a>
            <ul class="menu-content">
              <li class=" nav-item"><a href="{% url 'staff:add_report' %}" class="menu-item"><span class="menu-title" >Add Report</span></a>
              </li>
              
                <li class=" nav-item"><a href="{% url 'staff:list_report' %}" class="menu-item"><span class="menu-title" >List Reports</span></a>
                </li>

                <li class=" nav-item"><a href="{% url 'report' %}" target="blank"  class="menu-item">
                  <span class="menu-title"  > Reports on Site </span></a>
                </li>
            </ul>
          </li>
          
          <li class=" nav-item {% block news %} {% endblock %}">
            <a href="#">
              <span class="menu-title" >News</span>
            </a>
            <ul class="menu-content">
              <li class=" nav-item"><a href=" {% url 'staff:add_news' %}" class="menu-item"><span class="menu-title" >Add News</span></a>
              </li>
              
                <li class=" nav-item"><a href="{% url 'staff:list_news' %}" class="menu-item"><span class="menu-title" >List All News</span></a>
                </li>

                <li class=" nav-item"><a href="{% url 'blog' type='news' %}"  target="blank"  class="menu-item">
                  <span class="menu-title"  > News on Site </span></a>
                </li>
            </ul>
          </li>
          
          <li class=" nav-item {% block gallery %} {% endblock %}">
            <a href="#">
              <span class="menu-title" >Gallery</span>
            </a>
            <ul class="menu-content">
              <li class=" nav-item"><a href=" {% url 'staff:add_gallery' %}" class="menu-item"><span class="menu-title" >Add a Gallery</span></a>
              </li>
              
                <li class=" nav-item"><a href="{% url 'staff:list_gallery' %}" class="menu-item"><span class="menu-title" >List Gallery</span></a>
                </li>

                <li class=" nav-item"><a href="{% url 'blog' type='gallery' %}"  target="blank" class="menu-item">
                  <span class="menu-title"  > Gallery on Site </span></a>
                </li>
            </ul>
          </li>
          
          <li class=" nav-item {% block event %} {% endblock %}">
            <a href="#">
              <span class="menu-title" >Events</span>
            </a>
            <ul class="menu-content">
              <li class=" nav-item"><a href=" {% url 'staff:add_event' %}" class="menu-item"><span class="menu-title" >Add a New Event</span></a>
              </li>
              
                <li class=" nav-item"><a href="{% url 'staff:list_event' %}" class="menu-item"><span class="menu-title" >List all Events</span></a>
                </li>

                <li class=" nav-item"><a href="{% url 'event' type='up_coming' %}"  target="blank" class="menu-item">
                  <span class="menu-title"  > Event on Site </span></a>
                </li>
            </ul>
          </li>
          
          <li class=" nav-item {% block feedback %} {% endblock %}">
            <a href="{% url 'staff:list_feedback' %}">
              <span class="menu-title" >Feedbacks </span>
            </a>
  
          </li>
          
          <li class=" nav-item {% block renew %} {% endblock %}">
            <a href="#">
              <span class="menu-title" >Users</span>
            </a>
            <ul class="menu-content">
              <li class=" nav-item"><a href=" " class="menu-item"><span class="menu-title" >Staff Members</span></a>
              </li>
              
                <li class=" nav-item"><a href="" class="menu-item"><span class="menu-title" >Visitors</span></a>
                </li>
            </ul>
          </li>
         
         

          <br>
         
           

<!-- 
          {% if 'irb.can_list_configuration' in irb_perms %}
          <li class=" nav-item {% block setting %} {% endblock %}"><a href="#"><i class="fa fa-cog"></i><span class="menu-title" >Settings</span></a>
            <ul class="menu-content">
              <li><a href=""><span class="menu-title" >System Configuration</span></a> </li> 
              {% if 'irb.can_list_log' in irb_perms %}
                <li><a href=""><span class="menu-title" >Log</span></a> </li>
              {% endif %}
            </ul>
          </li>
           
          {% endif %} -->
          
        </ul>
      </div>
    </div>
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content" style="background: #fff;">
      <div class="content-wrapper" >

        <!--start message area -->
        <div id="id_messages_area" class="content-header row" style="width: 100%;">
            
          {% if messages %}
              {% for m in messages %}
                  {% if 'success' in m.tags  %}
                  <div class="alert alert-icon-right alert-success alert-dismissible col-md-12" role="alert">
                  {% elif 'warning' in m.tags %}
                  <div class="alert alert-icon-right alert-warning alert-dismissible col-md-12" role="alert">
                  {% elif 'error' in m.tags %}
                  <div class="alert alert-icon-right alert-danger alert-dismissible col-md-12" role="alert">
                  {% else %} 
                  <div class="alert alert-icon-right alert-info alert-dismissible col-md-12" role="alert">
                  {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <strong></strong> {{m}} <a href="#" class="alert-link"></a>
                  </div>
                
              {% endfor %}
          {% endif %}
        </div>
        <!-- end message area -->


        <div class="content-header-left col-md-6 col-12 mb-2">
          <h3 class="content-header-title mb-0">{% block title %}{% endblock %}</h3>
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'staff:index' %}">Home</a></li>

                {% block breadcrumb %} {% endblock %}
                
              </ol>
            </div>
          </div>
        </div>

        <div class="content-body" style="box-shadow: 4px 4px 10px #888888; padding: 20px;">
         {% block content %} 

         {% endblock %}
        </div>
      </div>
    </div>
    <!-- END: Content-->

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light navbar-border">
      <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block"> &copy; 2023 <a class="text-bold-800 text-center grey darken-2" href="#" target="_blank">EKC</a></span><span class="float-md-right d-none d-lg-block">Developed by DebolEngineering</span></p>
    </footer>
    <!-- END: Footer-->

    <!-- BEGIN: Vendor JS-->
      <script src="{% static 'staff/vendors/js/vendors.min.js' %}"></script>
      <script src="{% static 'staff/vendors/js/tables/datatable/datatables.min.js' %}"></script>
    
      <!-- BEGIN: Page Vendor JS-->   
   <script src="{% static 'staff/js/scripts/tables/datatables/datatable-basic.min.js' %}"></script> 
   <!-- END: Page Vendor JS-->
      
   <script src="{% static 'staff/js/core/app-menu.min.js' %}"></script>
   <script src="{% static 'staff/js/core/app.min.js' %}"></script>    
   <!-- END: Theme JS-->

   <!-- BEGIN: Theme JS-->
   <!-- END: Page JS-->
   {% block js %} 
   {% endblock %}
  <script src="{% static 'staff/js/scripts/compiled.min.js' %}"></script>




  </body>
  <!-- END: Body-->

</html>