{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<title>{% block main_title %} EKC AAU {% endblock %}</title>

<head>
  {% include 'staff/head.html' %}
  {% block style %}
  {% endblock %}
</head>
  <!-- BEGIN: Body-->
  <body id="id_bar" class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar "  data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

    {% include 'staff/header.html' %}
    
    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow expan" data-scroll-to-active="true">
      <div class="main-menu-content" style="margin-bottom: 40px; {% if user.is_superuser %} background-color:#2f3443; {% endif %}">
       
        <ul class="navigation navigation-main " id="main-menu-navigation" data-menu="menu-navigation"
          style=" background-color:#294e6f; padding-bottom: 110px;">
          
          <li class=" nav-item navigation-header {% block dashboard %} {% endblock %}">
            <a href="{% url 'home' %}"><i class="fa fa-home"></i><span class="menu-title" >View Site</span></a>
          </li>

          <br>
          
          <li class=" nav-item {% block proposal_tab %} {% endblock %}">
            <a href="#">
              <span class="menu-title" >Publications</span>
            </a>
            <ul class="menu-content">
                <li class=" nav-item"><a href=" " class="menu-item">
                  <span class="menu-title" >Add a Publications</span></a>
                </li>

                <li class=" nav-item"><a href="" class="menu-item">
                  <span class="menu-title" >List all Pulication </span></a>
                </li>

                <li class=" nav-item"><a href="" class="menu-item">
                  <span class="menu-title" > Publication on Site </span></a>
                </li>
            </ul>
            
          </li>
  
          <li class=" nav-item {% block amendment_tab %} {% endblock %}">
            <a href="#">
              <span class="menu-title" >Research Outputs</span>
            </a>
            <ul class="menu-content">
              <li class=" nav-item"><a href=" " class="menu-item"><span class="menu-title" >Add a News Research</span></a></li>
          
              <li class=" nav-item"><a href=" " class="menu-item"><span class="menu-title" >List Research Outputs</span></a></li> 
         

              <li class=" nav-item"><a href="" class="menu-item">
                <span class="menu-title" > Researchs on Site </span></a>
              </li>
            </ul>
  
          </li>

          <li class=" nav-item {% block renewal_tab %} {% endblock %}">
            <a href="#">
              <span class="menu-title" >Contents</span>
            </a>
            <ul class="menu-content">
              <li class=" nav-item"><a href=" " class="menu-item"><span class="menu-title" >Add Contents</span></a>
              </li>
              
                <li class=" nav-item"><a href="" class="menu-item"><span class="menu-title" >List Contents</span></a>
                </li>

                <li class=" nav-item"><a href="" class="menu-item">
                  <span class="menu-title" > Contents on Site </span></a>
                </li>
            </ul>
          </li>
          
          <li class=" nav-item {% block news %} {% endblock %}">
            <a href="#">
              <span class="menu-title" >News</span>
            </a>
            <ul class="menu-content">
              <li class=" nav-item"><a href=" {% url 'staff:add_news' %}" class="menu-item"><span class="menu-title" >Add News</span></a>
              </li>
              
                <li class=" nav-item"><a href="" class="menu-item"><span class="menu-title" >List All News</span></a>
                </li>

                <li class=" nav-item"><a href="{% url 'blog' type='news' %}" class="menu-item">
                  <span class="menu-title" > News on Site </span></a>
                </li>
            </ul>
          </li>
          
          <li class=" nav-item {% block gallery %} {% endblock %}">
            <a href="#">
              <span class="menu-title" >Gallery</span>
            </a>
            <ul class="menu-content">
              <li class=" nav-item"><a href=" {% url 'staff:add_gallery' %}" class="menu-item"><span class="menu-title" >Add a Gallery</span></a>
              </li>
              
                <li class=" nav-item"><a href="" class="menu-item"><span class="menu-title" >List Gallery</span></a>
                </li>

                <li class=" nav-item"><a href="{% url 'blog' type='gallery' %}" class="menu-item">
                  <span class="menu-title" > Gallery on Site </span></a>
                </li>
            </ul>
          </li>
          
          <li class=" nav-item {% block event %} {% endblock %}">
            <a href="#">
              <span class="menu-title" >Events</span>
            </a>
            <ul class="menu-content">
              <li class=" nav-item"><a href=" {% url 'staff:add_event' %}" class="menu-item"><span class="menu-title" >Add a New Event</span></a>
              </li>
              
                <li class=" nav-item"><a href="" class="menu-item"><span class="menu-title" >List all Events</span></a>
                </li>

                <li class=" nav-item"><a href="{% url 'event' type='up_coming' %}" class="menu-item">
                  <span class="menu-title" > Event on Site </span></a>
                </li>
            </ul>
          </li>
          
          <li class=" nav-item {% block renew %} {% endblock %}">
            <a href="#">
              <span class="menu-title" >Users</span>
            </a>
            <ul class="menu-content">
              <li class=" nav-item"><a href=" " class="menu-item"><span class="menu-title" >Staff Members</span></a>
              </li>
              
                <li class=" nav-item"><a href="" class="menu-item"><span class="menu-title" >Visitors</span></a>
                </li>
            </ul>
          </li>
         
         

          <br>
         
           

<!-- 
          {% if 'irb.can_list_configuration' in irb_perms %}
          <li class=" nav-item {% block setting %} {% endblock %}"><a href="#"><i class="fa fa-cog"></i><span class="menu-title" >Settings</span></a>
            <ul class="menu-content">
              <li><a href=""><span class="menu-title" >System Configuration</span></a> </li> 
              {% if 'irb.can_list_log' in irb_perms %}
                <li><a href=""><span class="menu-title" >Log</span></a> </li>
              {% endif %}
            </ul>
          </li>
           
          {% endif %} -->
          
        </ul>
      </div>
    </div>
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="content-wrapper">

        <!--start message area -->
        <div id="id_messages_area" class="content-header row" style="width: 100%;">
            
          {% if messages %}
              {% for m in messages %}
              
                  {% if 'success' in m.tags  %}
                  <div class="alert alert-icon-right alert-success alert-dismissible col-md-12" role="alert">
                  {% elif 'warning' in m.tags %}
                  <div class="alert alert-icon-right alert-warning alert-dismissible col-md-12" role="alert">
                  {% elif 'error' in m.tags %}
                  <div class="alert alert-icon-right alert-danger alert-dismissible col-md-12" role="alert">
                  {% else %} 
                  <div class="alert alert-icon-right alert-info alert-dismissible col-md-12" role="alert">
                  {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <strong></strong> {{m}} <a href="#" class="alert-link"></a>
                  </div>
                
              {% endfor %}
          {% endif %}
        </div>
        <!-- end message area -->

        <div class="content-header-left col-md-6 col-12 mb-2">
          <h3 class="content-header-title mb-0">{% block title %}{% endblock %}</h3>
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">{% block breadcrumb %} {% endblock %}</a></li>

                <!-- list other page breadcrumbs in here -->
                
                
              </ol>
            </div>
          </div>
        </div>

        <div class="content-body">
         {% block content %} 

         {% endblock %}
        </div>
      </div>
    </div>
    <!-- END: Content-->

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light navbar-border">
      <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block"> &copy; 2023 <a class="text-bold-800 text-center grey darken-2" href="#" target="_blank">EKC</a></span><span class="float-md-right d-none d-lg-block">Developed by DebolEngineering</span></p>
    </footer>
    <!-- END: Footer-->

    <!-- BEGIN: Vendor JS-->
      <script src="{% static 'staff/vendors/js/vendors.min.js' %}"></script>
      <script src="{% static 'staff/vendors/js/tables/datatable/datatables.min.js' %}"></script>
    
      <!-- BEGIN: Page Vendor JS-->   
   <script src="{% static 'staff/js/scripts/tables/datatables/datatable-basic.min.js' %}"></script> 
   <!-- END: Page Vendor JS-->
      
   <script src="{% static 'staff/js/core/app-menu.min.js' %}"></script>
   <script src="{% static 'staff/js/core/app.min.js' %}"></script>    
   <!-- END: Theme JS-->

   <!-- BEGIN: Theme JS-->
   <!-- END: Page JS-->
   {% block js %} 
   {% endblock %}
  <script src="{% static 'staff/js/scripts/compiled.min.js' %}"></script>
  <script>
     $(document).ready(function(){
      if ("{{user.is_authenticated}}"=="True"){
        fetch_notis()

        // check_last_fetch_time();
        // setInterval( fetch_notis, 5000 );
    }
      
    });
    
    
    function check_last_fetch_time(){
      var currentdate = new Date(); 
      if (localStorage.getItem('last_fetch')){
          var last = localStorage.getItem('last_fetch')
          var dif = currentdate.getTime() - new Date(last).getTime()
          dif = dif/(1000*60)//changing from millisecond to minute
          console.log("last fetch was on "+last+ "\n new is = "+currentdate.toString()
          +" \n difference: "+dif 
          )
          if (dif >=30)
            check_inbox()
        }
      else
        {
          localStorage.setItem('last_fetch', currentdate.toDateString())
          fetch_notis()
        }

    }

    function check_inbox(){
      fetch(" ").then(e=>e.json()).then(data =>
      {
        if(data['id']!=null && localStorage.getItem('last_noti_id') != data['id'])
        {
            console.log("There is a new noti ")
            fetch_notis()
          }
          else{
            window.alert("There is no new Notification")
          }
      });

    }

    function fetch_notis(){
      fetch( "").then(e=>e.json()).then(data =>
        {   num_unread_messages = data['num']
            if (num_unread_messages > 0){ 
                document.getElementById("noti_count_span").innerHTML = num_unread_messages;
                document.getElementById("noti_count_span2").innerHTML = num_unread_messages+ "  New";

                var list = document.getElementById('unread_notis_list');
                list.innerHTML = "";
                for (n of data['notis'])

                  list.innerHTML += append_unread_messages(n);
                  
                // localStorage.setItem('last_noti_id', data['notis'][-1]['id'])
              }
            else {document.getElementById("noti_count_span").innerHTML = ''; document.getElementById("noti_count_span2").innerHTML = ''}    
        });
      
    }
    
    function truncateString(string, limit= 70) {
      if (string.length > limit) 
        return string.substring(0, limit) + "...";
      return string
    }

    function append_unread_messages(n){
      var anchor = ""
      var detail = "/noti/notification_detail/"+n.id+"/"
      var icon_class = '', t_color  = '';

      
      if (n.noti.tag == 'success')
        { 
          icon_class = 'fa fa-check icon-bg-circle bg-teal'; t_color = '#009688 '}
      else if(n.noti.tag == 'warning')
        {  icon_class  ='fa fa-exclamation-triangle icon-bg-circle bg-yellow bg-darken-3'; t_color = '#c8960a ';}
      else if(n.noti.tag == 'error')
        { icon_class  ='fa fa-times icon-bg-circle bg-red bg-darken-1'; t_color = 'red ';}
      else
        { icon_class = 'fa fa-info-circle icon-bg-circle bg-cyan'; t_color = 'blue darken-3'}
    
        var full = "<div id= 'noti_"+n.id+"' class='media'>\
                      <div class='media-left align-self-center'><i class='" + icon_class + "'></i></div>\
                      <div class='media-body'>\
                        <h6 class='media-heading ' style =' color: "+t_color+"'>"+truncateString(n.noti.noti)  +"</h6>\
                        <p class=' font-small-3 text-muted' style='float:right'>\
                          <a class='btn-info mr-1' href = '"+detail+"' >View Detail</a>\
                          <i class='fa fa-eye' onclick=markasread('"+n.id+"')></i>"
                               
                if (n['noti']['link'] != '' ){
                  full += "<a href = "+n.noti.link + "> Redirect </a>\
                        </p>\
                        <small><time class='media-meta text-muted' datetime=''>"+n['noti']['created_date']+"</time></small>\
                      </div>\
                    </div> "
                            }
                          else{
                            full += "</p>\
                                        <small><time class='media-meta text-muted' datetime=''>"+n['noti']['created_date']+"</time></small>\
                                    </div>\
                                  </div>"
                          }
                        
                        
    return full
        }

    function markasread(id){
      try {
        fetch( '/noti/mark_user_notification_as_read/'+id+'/' ).then(e=>e.json()).then(data =>
            {   if (data['error'] == false){
                    var list = document.getElementById('noti_'+id);
                    list.remove();
                    var num_area = document.getElementById("noti_count_span")
                    num_area.innerHTML = parseInt( num_area.innerHTML) - 1
                  }
                else{window.alert(data['msg'])}
            });
      } 
      catch (error) {}

    }

    function markallread(){
      if (confirm('You are updating all unread messages As Read! Do you want Continue? '))
          fetch( " ").then(e=>e.json()).then(data =>
              {   update_num = data['update_num']
                  if (update_num >= 0){ 
                      document.getElementById("noti_count_span").innerHTML = '';
                      document.getElementById("noti_count_span2").innerHTML = "";

                      var list = document.getElementById('unread_notis_list');
                      list.innerHTML = "";
                      // localStorage.setItem('last_noti_id', data['notis'][-1]['id'])
                    }
                  else {
                    alert("Sorry! an exception occured, please try again later")
                  }    
              });
    }
     
    function hide_sidebar(){
      var d = document.getElementById('id_bar');
      if (localStorage.getItem('side_bar_hidden')) // if clicked previously
      {
        d.className = "vertical-layout vertical-menu-modern 2-columns   fixed-navbar expanded"
        localStorage.removeItem('side_bar_hidden')
      }
      else{
        localStorage.setItem('side_bar_hidden', true) 
        d.className = "vertical-layout vertical-menu-modern 2-columns   fixed-navbar menu-collapsed"
       
      }
        
    }  
</script>



  </body>
  <!-- END: Body-->

</html>