{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="Else Kröner Center for Cancer Care. Is a five-year project being implemented in partnership with Martin Luther University which is funded by EKFS.">
<meta name="keywords" content="EKC, Else Kröner Center for Cancer Care, Cancer Ethiopia, ">
<meta name="author" content="Haymanot Worku">
<link href="{% static 'customer/img/logo.png' %}" rel="icon">
<link href="{% static 'customer/img/logo.png' %}" rel="apple-touch-icon">
<!-- BEGIN: Vendor CSS-->
 <link rel="stylesheet" type="text/css" href="{% static 'staff/vendors/css/vendors.min.css' %}">
 <!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'staff/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'staff/css/bootstrap-extended.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'staff/vendors/css/tables/datatable/datatables.min.css' %}">
    
<link rel="stylesheet" type="text/css" href="{% static 'staff/css/colors.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'staff/css/components.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'staff/css/core/palette-gradient-vertical-menu-modern.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'staff/fonts/font-awesome/css/font-awesome.min.css' %}">

<style>
    .errorlist {
      color:#ff7588;
    }
  </style>

<!-- end of custom css -->