{% extends 'staff/base.html' %} 
{% load static %} 
{% block style %} 
<link rel="stylesheet" type="text/css" href="{% static 'staff/css/pages/card-statistics.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'staff/css/pages/users.min.css' %}">
{% endblock %}
{% block dashboard %} open hover {% endblock %}
{% block content %} 

<div class="content-body"><!-- Grouped multiple cards for statistics starts here -->
  <div class="row grouped-multiple-statistics-card">
    <div class="col-12">
      <div class="card round">
        <div class="card-body ">
          <div class="row">

            <div class="col-xl-4 col-sm-6 col-12 border-right-blue-grey border-right-lighten-5">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body  ">
                        <h3 class="font-large-1 text-center">
                          {{research}}<br>
                          <i class="fa fa-file teal font-medium-2 text-center"></i>
                        <span class="font-medium-2 ">
                          <a href="{% url 'staff:list_research' %}" class="text-center ">Conducted Researches</a></span></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 col-12 border-right-blue-grey border-right-lighten-5">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body  ">
                        <h3 class="font-large-1 text-center">{{call.count}}<br>
                          <i class="fa fa-upload teal font-medium-2 text-center"></i>
                        <span class="font-medium-2"> 
                          <a href="{% url 'staff:list_call_app' %}">Call Applications</a></span></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 col-12 ">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body test-center">
                        <h3 class="font-large-1 text-center" >{{event}} <br>
                          <i class="fa fa-calendar teal font-medium-2 text-center"></i>
                        <span class="font-medium-2">
                          <a href="{% url 'staff:list_event' %}">Hosted Events</a></span></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Grouped multiple cards for statistics ends here -->

  <!-- Minimal modern charts for power consumption, region statistics and sales etc. starts here -->
  <div class="row minimal-modern-charts match-height ">



    <!-- tracking stats chart -->
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-12 ">
      <div class="card profile-card-with-cover round">
        <div class="card-content round">
          <!--<img class="card-img-top img-fluid" src="{% static 'staff/images/carousel/18.jpg" alt="Card cover image">-->
          {% if user.is_superuser  %}
            <div class="card-img-top img-fluid bg-cover round" style="  height:215px;"></div>
          {% else %} 
            <div class="card-img-top img-fluid bg-cover round" style="  height:215px;"></div>
          {% endif %}
          <div class="card-profile-image">
            
              <img {% if user.profile %} src="{{user.profile.url}}" {% else %} src="{% static  'front/images/ekc/user.png' %}"  {% endif %} style="width: 110px; height: 110px;"  
              class="rounded-circle img-border text-center box-shadow-1" alt="Profile Image"><br><br>
              
          <a href="{% url 'accounts:my_profile' id=user.id %}" class="btn btn-social btn-min-width mr-1 mb-1 white" >
            <i class="fa fa-user" style="color: black;"></i> <span class="px-1" style="color: black;">My Profile</span></a>


              
          </div>
        </div>
      </div>
    </div>

    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-12 ">
          
          <div class="card" >
            <div class="card-content">
              <div class="card-body"> 
                <div class="media d-flex">
                  <div class="media-body test-center">
                    <h3 class="font-large-1 text-center" >{{submission}}<br>
                      <i class="fa fa-check-square teal font-medium-2 text-center"></i>
                    <span class="font-medium-2">
                      <a href="{% url 'staff:list_event' %}">Call Submissions</a></span></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>


    </div>

    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-12 ">
      <div class="card profile-card-with-cover round">
        <div class="card-content round">
          
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body test-center">
                    <h3 class="font-large-1 text-center" >{{users}}<br>
                      <i class="fa fa-user teal font-medium-2 text-center"></i>
                    <span class="font-medium-2">
                      <a href="{% url 'staff:list_event' %}">Registered Users</a></span></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    



    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 ">
      <div class="card ">
        <div class="card-header border-0">
          <h4 class="card-title">Call Applications </h4>
        </div>
        <div class="card-content">
          <div  class="table-responsive position-relative table-bordered">
            <table class="table">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Applicants</th>
                </tr>
              </thead>
              <tbody>
                {% for call in call %}
                {% if forloop.counter <= 4 %}
                    <tr>
                      <td ><a href="">{{call.title}}</a></td>
                      <td >5</td>          
                    </tr>
                  {% endif %}
                  {% endfor %}
              </tbody>
             
            </table>
          </div>
        </div>
      </div>
    </div>

    
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 ">
      <div class="card ">
        <div class="card-header border-0">
          <h4 class="card-title">Feedback from visitors </h4>
        </div>
        <div class="card-content">
          <div  class="table-responsive position-relative table-bordered">
            <table class="table">
              <thead>
                <tr>
                  <th>Subject</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                {% for feed in feedback %}
                {% if forloop.counter <= 4 %}
                    <tr>
                      <td ><a href="">{{feed.subject}}</a></td>
                      <td >{{feed.email}}</td>         
                    </tr>
                  {% endif %}
                  {% endfor %}
              </tbody>
             
            </table>
          </div>
        </div>
      </div>
    </div>



  </div>
  <!-- Minimal modern charts for power consumption, region statistics and sales etc. starts here -->


</div>








{% endblock %}
{% block js %}
<script src="{% static 'staff/vendors/js/charts/chart.min.js' %}"></script>
<script src="{% static 'staff/vendors/js/charts/apexcharts/unminify.js' %}"></script>

 <!-- BEGIN: Page JS-->
 <script src="{% static 'staff/js/scripts/cards/card-statistics.min.js' %}"></script>
 <!-- BEGIN: Page JS-->

<script src="{% static 'staff/vendors/js/pickers/dateTime/moment-with-locales.min.js' %}"></script>
<script src="{% static 'staff/vendors/js/pickers/daterange/daterangepicker.js' %}"></script>
<script src="{% static 'staff/vendors/js/pickers/pickadate/picker.js' %}"></script>
<script src="{% static 'staff/vendors/js/pickers/pickadate/picker.date.js' %}"></script>


    
<script src="{% static 'staff/vendors/js/extensions/dropzone.min.js' %}"></script>
<script src="{% static 'staff/vendors/js/ui/prism.min.js' %}"></script>
<script src="{% static 'staff/js/scripts/charts/chartjs/line/line-area.min.js' %}"></script>
<script src="{% static 'staff/js/scripts/charts/chartjs/bar/column.js' %}"></script>
<script src="{% static 'staff/js/scripts/charts/chartjs/pie-doughnut/pie-simple.min.js' %}"></script>
<script src="{% static 'staff/js/scripts/charts/chartjs/pie-doughnut/doughnut-simple.min.js' %}"></script> 
{% endblock %}