
{% extends 'base.html' %}
{% load static %}

{% block title %} About EKCC Addis Ababa {% endblock %}


{% block about %} active-menu {% endblock %}

{% block link_name %} About Us {% endblock %}

{% block page_name %} About Us {% endblock %}

        {% block content %} 


			<!-- INFO-4
			============================================= -->
			<section id="info-4" class=" wide-100 info-section division">
				<div class="container">

					<!-- BOTTOM ROW -->
					<div class="bottom-row">
						<div class="row d-flex align-items-center">


							<!-- INFO TEXT -->	
							<div class="col-lg-6">
								<div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">


									<!-- Title -->
									<h3 class="h3-md steelblue-color">Else Kröner Center for Cancer Care</h3>

									<!-- Text -->
									<p class="mb-30"> The Else Kröner Center for Cancer Care (EKCC) project in Ethiopia is a comprehensive initiative 
										aimed at enhancing and decentralizing cancer care in the country to reduce morbidity and mortality rates associated 
										with breast and cervical cancer. With a budget of 2.5 million euros, the project lasts from February 2020 to January 2026. 
										The project is being implemented by the Addis Ababa University School of Public 
										Health in collaboration with the medical Faculty of Medicine at Martin Luther University Halle-Wittenberg.</p>
									

								</div>
							</div>	<!-- END INFO TEXT -->	


							
							<!-- INFO IMAGE -->
							<div class="col-lg-6">
								<div class="info-4-img text-center wow fadeInUp" data-wow-delay="0.6s">
									<img class="img-fluid" src="{% static 'front/images/ekc/img_3.jpg' %}" alt="info-image">
								</div>
							</div>

						
						</div>    <!-- End row -->
					</div>	<!-- END BOTTOM ROW -->


									<!-- Text -->
									<p class="mb-30 pt-5"> The project holds significant relevance as it aligns with development policies and contributes to 
										the attainment of national and international health policy goals. It addresses the pressing challenge of high 
										mortality rates caused by breast and cervical cancer in Ethiopia. To achieve its goals, the project follows a 
										logical impact approach, which encompasses various strategies. These include the establishment of a 1-stop 
										clinic known as the EKCC, also referred to as the Churchill Center, as well as the expansion of the EKCC as a 
										training and continuing education site. Additionally, the project focuses on improving cancer screening and 
										care for breast and cervical cancer in 15 rural health points and 8 selected hospitals. It also aims to enhance 
										access to endocrine treatment for breast cancer patients, create a
										 rapid and effective referral system, and develop models for long-term psychosocial support for cancer patients.</p>
									

										
									<!-- Text -->
									<p class=""> By implementing these strategies, the EKCC project seeks to create a comprehensive and 
										sustainable framework for cancer care in Ethiopia, ultimately improving healthcare 
										outcomes and addressing the urgent needs of individuals battling breast and cervical cancer in the country.</p>
									



				</div>	   <!-- End container -->
			</section>	<!-- END INFO-4 -->


			
			<!-- INFO-4
			============================================= -->
			<section id="info-4" class=" bg-lightgrey wide-100 info-section division">
				<div class="container">

					<!-- BOTTOM ROW -->
					<div class="bottom-row">
						<div class="row d-flex align-items-center">


							<!-- INFO IMAGE -->
							<div class="col-lg-6">
								<div class="info-4-img text-center wow fadeInUp" data-wow-delay="0.6s">
									<img class="img-fluid" src="{% static 'front/images/report/maps.JPG' %}" alt="info-image">
								</div>
							</div>


							<!-- INFO TEXT -->	
							<div class="col-lg-6">
								<div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">

									<!-- Text -->
									<h5 class="h-md steelblue-color section-title">Our Peripheral Centers: </h5>
								
									<!-- <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
									<p class="p-sm">Addis Ababa </p>	
									<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
									<p class="p-sm">Gonder </p>	
									<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
									<p class="p-sm">Maychew </p>	
									<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
									<p class="p-sm">Harar </p>	
									<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
									<p class="p-sm">Gore </p>	
									<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
									<p class="p-sm">Negele </p>	 -->


									<div class="row">

										<div class="col-lg-4">
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm"> Butajira </p>	
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">Worabe </p>	
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">Atat </p>	
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">Hossana </p>	
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">Angacha </p>	
										</div>
										
										<div class="col-lg-4">
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">Halaba </p>
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">Wolaita  </p>	
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">Areka </p>	
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">Durame </p>	
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">Woliso </p>	
										</div>
										
										<div class="col-lg-4">
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">Adama </p>	
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">Asela </p>	
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">Bishoftu </p>	
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">Aira </p>	
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">Batu </p>	
										</div>

									</div>
										

								</div>
							</div>	<!-- END INFO TEXT -->	



						
						</div>    <!-- End row -->
					</div>	<!-- END BOTTOM ROW -->


				</div>	   <!-- End container -->
			</section>	<!-- END INFO-4 -->


			
						<!-- STATISTIC-1
			============================================= -->
			<div id="statistic-1" class="bg-scroll statistic-section division">
				<div class="container white-color">
					<div class="row">


						<!-- STATISTIC BLOCK #1 -->
						<div class="col-md-6 col-lg-3">						
							<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.4s">

								<!-- Icon  -->
								<span class="flaticon-150-clipboard"></span>

								<!-- Text -->
								<h5 class="statistic-number"><span class="count-element">20 +</span></h5>
								<p class="txt-400">Conducted Researches</p>																			
													
							</div>								
						</div>


						<!-- STATISTIC BLOCK #2 -->
						<div class="col-md-6 col-lg-3">								
							<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.6s">

								<!-- Icon  -->
								<span class="flaticon-137-doctor"></span>

								<!-- Text -->
								<h5 class="statistic-number"><span class="count-element">62</span></h5>	
								<p class="txt-400">Qualified Care Providers</p>										
																		
							</div>							
						</div>


						<!-- STATISTIC BLOCK #3 -->
						<div class="col-md-6 col-lg-3">					
							<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.8s">	

								<!-- Icon  -->
								<span class="flaticon-065-hospital-bed"></span>

								<!-- Text -->
								<h5 class="statistic-number">12,<span class="count-element">461</span></h5>
								<p class="txt-400">Screened Report </p>									

							</div>						
						</div>
					

						<!-- STATISTIC BLOCK #4 -->
						<div class="col-md-6 col-lg-3">						
							<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="1s">	

								<!-- Icon  -->
								<span class="flaticon-040-placeholder"></span>

								<!-- Text -->	
								<h5 class="statistic-number"><span class="count-element">13</span></h5>
								<p class="txt-400">Peripheral Centers</p>				
								
							</div>						
						</div>


					</div>  <!-- End row -->
				</div>	 <!-- End container -->		
			</div>	 <!-- END STATISTIC-1 -->



			
			<!-- TABS-2
			============================================= -->
			<section id="tabs-2" class="wide-100 tabs-section division">
				<div class="container">	
				 	<div class="row">


				 		<!-- TABS NAVIGATION -->
				 		<div class="col-lg-4">
							<div id="tabs-nav" class="list-group text-center clearfix">
							    <ul class="nav nav-pills" id="pills-tab" role="tablist">

							    	<!-- TAB-1 LINK -->
								  	<li class="nav-item icon-xs">
								    	<a class="nav-link active " id="tab11-list" data-toggle="pill" href="#tab-11" role="tab" aria-controls="tab-11" aria-selected="true">
								    		<span class="h3-md"> Project Implementation Structure </span>

								    	</a>
								  	</li>

								  	<!-- TAB-2 LINK -->
									<li class="nav-item icon-xs">
									    <a class="nav-link" id="tab12-list" data-toggle="pill" href="#tab-12" role="tab" aria-controls="tab-12" aria-selected="false">
											Steps Followed in the Project
									    </a>
									</li>


								</ul>

							</div>	
						</div>	<!-- END TABS NAVIGATION -->


						<!-- TABS CONTENT -->
				 		<div class="col-lg-8">
							<div class="tab-content" id="pills-tabContent">


								<!-- TAB-1 CONTENT -->
								<div class="tab-pane fade show active" id="tab-11" role="tabpanel" aria-labelledby="tab11-list">									
									

									<!-- Image -->
									<div class="tab-img">
										<img class="img-fluid" style="height: 350px;" src="{% static 'front/images/ekc/structure.JPG' %}" alt="tab-image" />
									</div>

								</div>	<!-- END TAB-1 CONTENT -->


								<!-- TAB-2 CONTENT -->
								<div class="tab-pane fade" id="tab-12" role="tabpanel" aria-labelledby="tab12-list">


									<!-- Image -->
									<div class="tab-img">
										<img class="img-fluid" style="height: 358px;" src="{% static 'front/images/ekc/steps1.JPG' %}" alt="tab-image" />
									</div>
	
								</div>	<!-- END TAB-2 CONTENT -->


							</div>	<!-- END TABS CONTENT -->


			 			</div>	
				 	</div>     <!-- End row -->	
				</div>     <!-- End container -->	
			</section>	<!-- END TABS-2 -->



            			<!-- FAQs PAGE
			============================================= -->
			<section id="faqs-page" class="wide-80 faqs-section division">
				<div class="container">
					<div class="row">


						<!-- QUESTIONS HOLDER -->
				 		<div class="col-lg-10">
				 			<div class="questions-holder pr-30">

				 				<!-- Title -->
				 				<h3 class="h3-md steelblue-color">Frequently Asked Questions</h3>



								<!-- QUESTIONS ACCORDION -->	
								<div id="accordion" role="tablist">


									<!-- ACCORDION CARD #1 -->
				 					<div class="card">

				 						<!-- Card Title -->
									    <div class="card-header" role="tab" id="headingOne">
									      	<h5 class="h5-xs">
									       		<a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
									         		What is EKC?
									        	</a>
									    	 </h5>
									    </div>

									    <!-- Card Content -->
									    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
									     	<div class="card-body">
		
												<!-- Text -->	
												<p> EKC is the abbreviation for "Else Kröner Center". EKC
													is a five-year project being implemented in partnership with Martin 
													Luther University which is funded by EKFS, mainly to work on improving 
													oncological health for women.</p>

									     	</div>
									   	</div>

									</div>	<!-- END ACCORDION CARD #1 -->


									<!-- ACCORDION CARD #2 -->
									<div class="card">

										<!-- Card Title -->
									    <div class="card-header" role="tab" id="headingTwo">
									      	<h5 class="h5-xs">
									       	    <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
									          		What are the objectives of EKC?
									        	</a>
									     	 </h5>
									    </div>

									    <!-- Card Content -->
									    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
									      	<div class="card-body">

									      		<p>The major aim and objective of the project are: </p>
												
												<!-- List -->
												<ul class="content-list">
															
													<li>
														<p>establishing a one stop treatment for women with breast or cervical symptoms,</p>
													</li>

													<li>
														<p>providing interdisciplinary training for staff of oncology centers,</p>
													</li>
													<li>
														<p>assessing and optimizing a screening algorithms and fast track referral for precision cervical cancer screening 
															and early detection of breast cancer,</p>
													</li>
													<li>
														<p>development, implementation and optimization of task sharing integrated oncology care with lower level hospitals,</p>
													</li>
													<li>
														<p>development, implementation and optimization of survivorship-care within the primary health care system.</p>
													</li>

												</ul>



									     	 </div>
									    </div>

									</div>	<!-- END ACCORDION CARD #2 -->


									<!-- ACCORDION CARD #3 -->
									<div class="card">

									 	<!-- Card Title -->
									    <div class="card-header" role="tab" id="headingThree">
									      	<h5 class="h5-xs">
									        	<a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
									         		Where is EKC located?
									        	</a>
									     	 </h5>
									    </div>

									    <!-- Card Content -->
									    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
									      	<div class="card-body">
									        
									      		<!-- Text -->	
												<p>The main center for EKC is located in Churchil Health Center around Piazza, However, we have been working on involving 32 community level health posts, 15 basic service giver health centers 
													and 15 middle to high level care giver hospitals in Addis Ababa.  
												</p>
														
									      	</div>
									    </div>

									</div>	  <!-- END ACCORDION CARD #3 -->
 <!-- END ACCORDION CARD #4 -->


								</div>	<!-- END QUESTIONS ACCORDION -->	


				 			</div>
				 		</div>   <!--END QUESTIONS HOLDER -->
						

					</div>     <!-- End row -->		
				</div>	    <!-- End container -->
			</section>	 <!-- END FAQs PAGE -->


        {% endblock %}	
