


{% extends 'base.html' %}
{% load static %}

{% block title %} EKCC News {% endblock %}

{% block news %} active-menu {% endblock %}

{% block links_name %} 
<li class="breadcrumb-item"><a href="{% url 'blog' type='news' %}">News</a></li> {% endblock %}

{% block page_name %} News Detail {% endblock %}

{% block content %}


			<!-- BLOG PAGE CONTENT
			============================================= -->
			<div id="blog-page" class=" bg-lightgrey wide-100 blog-page-section division">
				<div class="container">
				 	<div class="row">


                        
				 		<!-- SINGLE POST -->
				 		<div class="col-lg-8">
                            <div class="single-blog-post pr-30">

                            
                                <!-- BLOG POST IMAGE -->
                                <div class="blog-post-img mb-40">
                                    {% if news.image %}
                                   <img class="img-fluid"  src="{{ news.image.url }}" alt="blog-post-image" />		
                                   {% else %}
                                   <img class="img-fluid"  src="{% static 'front/images/logo/loggo.jpg' %}" alt="blog-post-image" />		
                                   {% endif %}
                               </div>	


                               <!-- BLOG POST TEXT -->
                               <div class="sblog-post-txt">

                                   <!-- Post Title -->
                                   <h4 class="h4-lg steelblue-color">{{news.title}}</h4>

                                   <!-- Post Data -->
                                   Posted on {{news.created_date}} by <span class="blue-color">{{news.created_by}}</span>

                                   <!-- Post Text -->
                                   <p class="mt-30"> {{news.desc|safe}}
                                   </p>

                               </div>	<!-- END BLOG POST TEXT -->
                            </div>
                        </div>

				 		<!-- SIDEBAR -->
                         <aside id="sidebar" class="col-lg-3">


							<!-- SEARCH FIELD --> 
							<div id="search-field" class="sidebar-div mb-50">	
								<form method="get" action="{% url 'news_search' %}" >						
								<div class="input-group mb-3">
								  	<input type="text" class="form-control" name="search" id="search" placeholder="{% if search %} {{term}} {% else %} Search {% endif %}" aria-label="Search" aria-describedby="search-field">
								 	<div class="input-group-append">
								    	<button class="btn" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
								 	</div>
								</div>
							    </form>
							</div>

							<!-- BLOG CATEGORIES --> 
							<div class="blog-categories sidebar-div mb-50">
									
								<!-- Title -->
								<h5 class="h5-sm steelblue-color">Categories</h5>

								<ul class="blog-category-list clearfix">
									{% for cat in category %}
									<li><a href="{% url 'news_by_category' id=cat.id %}"><i class="fas fa-angle-double-right blue-color"></i> {{cat.name}}</a> <span>({{cat.news_set.all.count}})</span></li>
									
									{% endfor %}
								</ul>

							</div>

						</aside>	<!-- END SIDEBAR -->
				
                        




				 		
				 	</div>	<!-- End row -->	

                    <!-- RELATED POSTS -->
                    <div class="related-posts pt-5">

                        <!-- Title -->	
                        <h5 class="h5-md steelblue-color">Related News</h5>	


                        <div class="row">
                            
                            <!-- BLOG POST #1 -->
                            {% for n in news_list %}
                            {% if n.id != news.id %}
                            <div class="col-md-3">
                                <div class="blog-post">

                                    <!-- BLOG POST IMAGE -->
                                    <div class="blog-post-img">
                                        {% if n.image %}
                                        <img class="img-fluid" style="max-height: 145px; width: 100%;" src="{{n.image.url}}" alt="blog-post-image" />	
                                        {% else %}
                                        <img class="img-fluid" style="max-height: 145px; width: 100%;" src="{% static 'front/images/logo/loggo.jpg' %}" alt="blog-post-image" />
                                        {% endif %}
                                    </div>

                                    <!-- BLOG POST TEXT -->
                                    <div class="blog-post-txt">

                                        <!-- Post Title -->
                                        <h5 class="h5-sm steelblue-color"><a href="{% url 'news_detail' id=n.id %}">{{n.title|truncatechars:30}}</a></h5>

                                        <!-- Post Data -->
                                        <!-- <span>{{n.created_date}} <span class="blue-color">{{n.created_by}}</span></span> -->

                                        <!-- Post Text -->
                                        <p>{{n.desc|truncatechars:100|safe}}
                                        </p>

                                    </div>

                                </div>
                            </div>	
                            {% endif %}
                            {% endfor %}<!-- END  BLOG POST #1 -->



                        </div>	<!-- End row -->

                    </div>	<!-- END RELATED POSTS -->



				 </div>	 <!-- End container -->
			</div>	<!-- END BLOG PAGE CONTENT -->


{% endblock %}