
{% extends 'base.html' %}
{% load static %}

{% block title %} EKCC News {% endblock %}


{% block news %} active-menu {% endblock %}


{% block link_name %} News {% endblock %}

{% block page_name %} News {% endblock %}
{% block page_title %} Our Latest Newses{% endblock %}
{% block content %}


			<!-- BLOG PAGE CONTENT
			============================================= -->
			<div id="blog-page" class=" wide-100 blog-page-section division">
				<div class="container">
				 	<div class="row">



				 		<!-- SIDEBAR -->
                         <aside id="sidebar" class="col-lg-3">


							<!-- SEARCH FIELD --> 
							<div id="search-field" class="sidebar-div mb-50">	
								<form method="get" action="{% url 'news_search' %}" >						
								<div class="input-group mb-3">
								  	<input type="text" class="form-control" name="search" id="search" placeholder="{% if search %} {{term}} {% else %} Search {% endif %}" aria-label="Search" aria-describedby="search-field">
								 	<div class="input-group-append">
								    	<button class="btn" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
								 	</div>
								</div>
							    </form>
							</div>

							<!-- BLOG CATEGORIES --> 
							<div class="blog-categories sidebar-div mb-50">
									
								<!-- Title -->
								<h5 class="h5-sm steelblue-color">Categories</h5>

								<ul class="blog-category-list clearfix">
									{% for cat in category %}
									<li><a href="{% url 'news_by_category' id=cat.id %}"><i class="fas fa-angle-double-right blue-color"></i> {{cat.name}}</a> <span>({{cat.news_set.all.count}})</span></li>
									
									{% endfor %}
								</ul>

							</div>

						</aside>	<!-- END SIDEBAR -->
				 		<!-- BLOG POSTS HOLDER -->

						<!-- {% if not news %}
						<h5 class="h5-sm steelblue-color float-center" >No News Posted yet </h5>
						{% endif %} -->


				 		<div class="col-lg-9">
				 			<div class="posts-holder ">


                                <div class="row"> 

									<!-- BLOG POST #3 --> 
									{% for news in news %}
									<div class="col-lg-6 col-md-12">
										<div class="blog-post">
									
											<!-- BLOG POST IMAGE -->
											<div class="blog-post-img">
												{% if news.image %}
												<img class="img-fluid " style="height: 225px; width: 100%;" src="{{news.image.url}}" alt="blog-post-image" />	
												{% else %}
												<img class="img-fluid " style="height: 225px; width: 100%;" src="{% static 'front/images/logo/loggo.jpg' %}" alt="blog-post-image" />	
												{% endif %}
											</div>

											<!-- BLOG POST TEXT -->
											<div class="blog-post-txt">

												<!-- Post Title -->
												<h5 class="h5-xl steelblue-color"><a href="{% url 'news_detail' id=news.id %}">{{news.title|truncatechars:100}}</a></h5>

												<!-- Post Data -->
												<span>{{news.created_date}}</span>

												<!-- Post Text |truncatechars:150-->
												<p>{{news.desc|truncatechars:200|safe}}
												</p>

												<!-- Button -->
												<a href="{% url 'news_detail' id=news.id %}" class="btn btn-blue blue-hover mt-30"> Read More </a>
											</div>

										</div>	
									</div>
									{% endfor %} 
									<!-- END BLOG POST #3 -->

                                </div>


								<!-- BLOG PAGE PAGINATION -->
								<div class="blog-page-pagination b-top">
									<nav aria-label="Page navigation">
										<ul class="pagination justify-content-center primary-theme">
											{% if news.has_previous %}
												<li class="page-item previous-page">
													<a class="page-link" href="?page={{news.previous_page_number}}"><i class="fas fa-long-arrow-alt-left"></i></a>
												</li>
											{% else %}
	    										<li class="page-item disabled">
													<a class="page-link" href="" tabindex="-1"><i class="fas fa-long-arrow-alt-left"></i></a>
												</li>
											{% endif %}

										    <li class="page-item active">
												<a class="page-link" href="#">{{news.number}} <span class="sr-only">(current)</span></a>
											</li>
											
											<li class="page-item disabled"><a class="page-link" href="">of</a> </li>

											
											 <li class="page-item"><a class="page-link" href="?page={{news.paginator.num_pages}}">{{news.paginator.num_pages}}</a> </li>

											{% if news.has_next %}
												<li class="page-item next-page">
													<a class="page-link" href="?page={{news.next_page_number}}"><i class="fas fa-long-arrow-alt-right"></i></a>
												</li>
											{% else %}
												<li class="page-item disabled">
													<a class="page-link" href="" tabindex="11"><i class="fas fa-long-arrow-alt-right"></i></a>
												</li>
											{% endif %}
	 									</ul>	
	 								</nav>					
								</div>

				 			</div>
				 		</div>	 <!-- END BLOG POSTS HOLDER -->



					</div>
				 		
					
						
					<h5 class="h5-sm steelblue-color text-center pt-5">Subscribe for latest news</h5>

					<form  action="" method="POST" >
                    <div class="row">

							{% csrf_token %}

						 <div  class=" col-lg-9  pt-3">
							<input type="text" name="email" class="form-control email " style=" padding: 25px; " placeholder="Your Email*" required> 
							
						</div>
						
						<div  class=" col-lg-3  pt-3">
							<button type="submit" class="btn btn-blue-border blue-hover " style=" padding: 15px; ">Subscribe</button>
						</div>
					


				 	</div>	<!-- End row -->
				</form>	


				 </div>	 <!-- End container -->
			</div>	<!-- END BLOG PAGE CONTENT -->

{% endblock %}