


{% extends 'base.html' %}
{% load static %}


{% block about %} active-menu {% endblock %}

{% block link_name %} News {% endblock %}

{% block page_name %} Services	 {% endblock %}

{% block content %}
<div class="container pl-4" style="position: relative; top: 80px;">
	<div class="row">						
		<div class="col">
			<h4 class="h3-md steelblue-color text-center mb-3">These are the services we provide</h4>
		</div>
	</div>
</div>


            			<!-- TABS-2
			============================================= -->
			<section id="tabs-2" class="bg-lightgrey wide-100 tabs-section division">
				<div class="container">	
				 	<div class="row">


				 		<!-- TABS NAVIGATION -->
				 		<div class="col-lg-4">

							<div id="tabs-nav" class="list-group text-center clearfix">
							    <ul class="nav nav-pills" id="pills-tab" role="tablist">

							    	<!-- TAB-1 LINK -->
                                    
								  	<li class="nav-item icon-xs sbox-7 icon-xs wow fadeInUp mb-3" data-wow-delay="0.4s">
								    	<a class="nav-link active" id="tab11-list" data-toggle="pill" href="#tab-11" role="tab" aria-controls="tab-11" aria-selected="true">
								    		<span class="flaticon-036-hospital-8 blue-color"></span>
                                           <!-- Text -->
                                           <div class="sbox-7-txt">
                                               <!-- Title -->
                                               <h5 class="h5-sm steelblue-color">Establish Facilities</h5>
                                           </div>
								    	</a>
								  	</li>

								  	<!-- TAB-2 LINK -->
									<li class="nav-item icon-xs sbox-7 icon-xs wow fadeInUp mb-3" data-wow-delay="0.6s">
									    <a class="nav-link" id="tab12-list" data-toggle="pill" href="#tab-12" role="tab" aria-controls="tab-12" aria-selected="false">
									       
                                           <!-- Icon -->
											<span class="flaticon-031-scanner blue-color"></span>
                                               <!-- Text -->
                                           <div class="sbox-7-txt">
                                            <!-- Title -->
                                            <h5 class="h5-sm steelblue-color">Screening and Early Detection</h5>
                                        </div>
									    </a>
									</li>

									<!-- TAB-3 LINK -->
									<li class="nav-item icon-xs sbox-7 icon-xs wow fadeInUp mb-3" data-wow-delay="0.8s">
									    <a class="nav-link" id="tab13-list" data-toggle="pill" href="#tab-13" role="tab" aria-controls="tab-13" aria-selected="false">
									       
				 							<!-- Icon -->
											<span class="flaticon-039-emergency-call-1 blue-color"></span>

											<!-- Text -->
											<div class="sbox-7-txt">
				
												<!-- Title -->
												<h5 class="h5-sm steelblue-color">Consultancy</h5>
													

											</div>
									    </a>
									</li>

									<!-- TAB-4 LINK -->
									<li class="nav-item icon-xs sbox-7 icon-xs wow fadeInUp mb-3" data-wow-delay="0.9s">
									    <a class="nav-link" id="tab14-list" data-toggle="pill" href="#tab-14" role="tab" aria-controls="tab-14" aria-selected="false">
									    <!-- Icon -->
											<span class="flaticon-071-clipboard-2 blue-color"></span>

											<!-- Text -->
											<div class="sbox-7-txt">
				
												<!-- Title -->
												<h5 class="h5-sm steelblue-color">Conduct Reasearch</h5>
												

											</div>
									    </a>
									</li>
									
									<!-- TAB-4 LINK -->
									<li class="nav-item icon-xs sbox-7 icon-xs wow fadeInUp mb-3" data-wow-delay="0.95s">
									    <a class="nav-link" id="tab15-list" data-toggle="pill" href="#tab-15" role="tab" aria-controls="tab-15" aria-selected="false">
									    <!-- Icon -->
											<span class="flaticon-073-laptop-2 blue-color"></span>

											<!-- Text -->
											<div class="sbox-7-txt">
				
												<!-- Title -->
												<h5 class="h5-sm steelblue-color">Interdisciplinary Trainings</h5>
												

											</div>
									    </a>
									</li>
									
									<!-- TAB-4 LINK -->
									<li class="nav-item icon-xs sbox-7 icon-xs wow fadeInUp mb-3" data-wow-delay="0.99s">
									    <a class="nav-link" id="tab16-list" data-toggle="pill" href="#tab-16" role="tab" aria-controls="tab-16" aria-selected="false">
									    <!-- Icon -->
											<span class="flaticon-015-blood-donation-1 blue-color"></span>

											<!-- Text -->
											<div class="sbox-7-txt">
				
												<!-- Title -->
												<h5 class="h5-sm steelblue-color">Policy Support</h5>
												

											</div>
									    </a>
									</li>

									
								</ul>

							</div>	
						</div>	<!-- END TABS NAVIGATION -->


						<!-- TABS CONTENT -->
				 		<div class="col-lg-8">
							<div class="tab-content" id="pills-tabContent">


								<!-- TAB-1 CONTENT -->
								<div class="tab-pane fade show active" id="tab-11" role="tabpanel" aria-labelledby="tab11-list">									
									<!-- Title -->
									<h3 class="h3-md steelblue-color">Establish Facilities</h3>

									<!-- Text -->
									<p> EKC works on establishing facilities of nearby health posts and health centers for easy access to screening and treatment.
									</p>

									<!-- Image -->
									<div class="tab-img">
										<img class="img-fluid" style="height: 300px; width: 80%;" src="{% static 'front/images/report/Picture4.jpg' %}" alt="tab-image" />
									</div>

									<!-- Text -->
									<p>An enim nullam tempor sapien gravida donec enim ipsum blandit
									   porta justo integer odio velna vitae auctor integer congue magna at pretium 
									   purus pretium 
									</p>

								</div>	<!-- END TAB-1 CONTENT -->


								<!-- TAB-2 CONTENT -->
								<div class="tab-pane fade" id="tab-12" role="tabpanel" aria-labelledby="tab12-list">

									<!-- Title -->
									<h3 class="h3-md steelblue-color">Screening and Early Detection</h3>

									<!-- Text -->
									<p>EKC provides effective screening and early detection of carnival and cancer symptoms 
										at each centers with additional post screening and follow-up care.
									</p>

									<!-- Image -->
									<div class="tab-img">
										<img class="img-fluid" src="{% static 'front/images/report/Picture14.png' %}" alt="tab-image" />
									</div>

									<!-- Text -->
									<p>An enim nullam tempor sapien gravida donec enim ipsum blandit
									   porta justo integer odio velna vitae auctor integer congue magna at pretium 
									   purus pretium ligul
									</p>
								</div>	<!-- END TAB-2 CONTENT -->


								<!-- TAB-3 CONTENT -->
								<div class="tab-pane fade" id="tab-13" role="tabpanel" aria-labelledby="tab13-list">

									<!-- Title -->
									<h3 class="h3-md steelblue-color">Consultancy </h3>

									<!-- Text -->
									<p>EKC provides contineous demand creation programs for women with mentorship and supportive supervisions for care providers. We also participate in high-level consultation with regional representatives. 
									</p>

									<!-- Image -->
									<div class="tab-img">
										<img class="img-fluid" style="height: 600px; width:100%" src="{% static 'front/images/report/Picture7.png' %}" alt="tab-image" />
									</div>

									<!-- Text -->
									<p>An enim nullam tempor sapien gravida donec enim ipsum blandit
									   porta justo integer odio velna vitae auctor integer congue magna at pretium 
									   purus pretium lig
									</p>

								</div>	<!-- END TAB-3 CONTENT -->


								<!-- TAB-4 CONTENT -->
								<div class="tab-pane fade" id="tab-14" role="tabpanel" aria-labelledby="tab14-list">

									<!-- Title -->
									<h3 class="h3-md steelblue-color">Conduct Reasearch</h3>

									<!-- Text -->
									<p>EKC support researches to conduct researches on Cancer in addition to its oun research programs and write manuscript workshops for MPH students. 
									</p>

									<!-- Image -->
									<div class="tab-img">
										<img class="img-fluid" style="height: 400px; width: 100%;" src="{% static 'front/images/report/Picture21.jpg' %}" alt="tab-image" />
									</div>

									<!-- Text -->
									<p>An enim nullam tempor sapien gravida donec enim ipsum blandit
									   porta justo integer odio velna vitae auctor integer congue magna at pretium 
									   purus pretium l
									</p>
								</div>	<!-- END TAB-4 CONTENT -->
								

								<!-- TAB-5 CONTENT -->
								<div class="tab-pane fade" id="tab-15" role="tabpanel" aria-labelledby="tab15-list">

									<!-- Title -->
									<h3 class="h3-md steelblue-color">Interdisciplinary Trainings</h3>

									<!-- Text -->
									<p>EKC provides Basic cervical cancer screening training HOs, nurses, and midwives; LEEP treatment training for gynaecologist and nurses in collaboration to MOH;
										chemotherapy training for nurses; surgical technical skill training for surgeons and other capacity development trainings at each active peripheral centers.
									</p>

									<!-- Image -->

									<!-- Text -->
									<p>An enim nullam tempor sapien gravida donec enim ipsum blandit
									   porta justo integer odio velna vitae auctor integer congue magna at pretium 
									   purus pretium ligula
									</p>

									<!-- Options List -->
									<div class="row">

										<div class="col-xl-6">

											<div class="tab-img">
												<img class="img-fluid" style="height: 200px;" src="{% static 'front/images/report/Picture13.png' %}" alt="tab-image" />
											</div>

										</div>

										<div class="col-xl-6">
											
											<div class="tab-img">
												<img class="img-fluid" style="height: 210px; width: 100%;" src="{% static 'front/images/report/Picture16.jpg' %}" alt="tab-image" />
											</div>

											<!-- Option #4 -->
											
										</div>

									</div>	<!-- End Options List -->

								</div>	<!-- END TAB-5 CONTENT -->

								

								<!-- TAB-6 CONTENT -->
								<div class="tab-pane fade" id="tab-16" role="tabpanel" aria-labelledby="tab16-list">

									<!-- Title -->
									<h3 class="h3-md steelblue-color">Policy Support</h3>

									<!-- Text -->
									<p>EKC conducts evidence based guidelines and manual on breast cancer and carniveral health to improve the policy environment in the MoH.

									<!-- Image -->
									<div class="tab-img">
										<img class="img-fluid" style="height:400px ; width: 100%;" src="{% static 'front/images/report/pic.jpg' %}" alt="tab-image" />
									</div>

									<!-- Text -->
									<p>An enim nullam tempor sapien gravida donec enim ipsum blandit
									   porta justo integer odio velna vitae auctor integer congue magna at pretium 
									   purus pretium ligula rut
									</p>

								</div>	<!-- END TAB-4 CONTENT -->


							</div>	<!-- END TABS CONTENT -->


			 			</div>	
				 	</div>     <!-- End row -->	
				</div>     <!-- End container -->	
			</section>	<!-- END TABS-2 -->



{% endblock %}