


{% extends 'base.html' %}
{% load static %}

{% block title %} EKCC Services {% endblock %}

{% block about %} active-menu {% endblock %}

{% block link_name %} News {% endblock %}

{% block page_name %} Services	 {% endblock %}

{% block content %}
<div class="container pl-4" style="position: relative; top: 80px;">
	<div class="row">						
		<div class="col">
			<h4 class="h3-md steelblue-color text-center mb-3">These are the services we provide</h4>
		</div>
	</div>
</div>


            			<!-- TABS-2
			============================================= -->
			<section id="tabs-2" class="bg-lightgrey wide-100 tabs-section division">
				<div class="container">	
				 	<div class="row">


				 		<!-- TABS NAVIGATION -->
				 		<div class="col-lg-4">

							<div id="tabs-nav" class="list-group text-center clearfix">
							    <ul class="nav nav-pills" id="pills-tab" role="tablist">

							    	<!-- TAB-1 LINK -->
                                    
								  	<li class="nav-item icon-xs sbox-7 icon-xs wow fadeInUp mb-3" data-wow-delay="0.4s">
								    	<a class="nav-link active" id="tab11-list" data-toggle="pill" href="#tab-11" role="tab" aria-controls="tab-11" aria-selected="true">
								    		<span class="flaticon-036-hospital-8 blue-color"></span>
                                           <!-- Text -->
                                           <div class="sbox-7-txt">
                                               <!-- Title -->
                                               <h5 class="h5-sm steelblue-color">One Stop Clinic   </h5>
                                           </div>
								    	</a>
								  	</li>

								  	<!-- TAB-2 LINK -->
									<li class="nav-item icon-xs sbox-7 icon-xs wow fadeInUp mb-3" data-wow-delay="0.6s">
									    <a class="nav-link" id="tab12-list" data-toggle="pill" href="#tab-12" role="tab" aria-controls="tab-12" aria-selected="false">
									       
                                           <!-- Icon -->
											<span class="flaticon-073-laptop-2 blue-color"></span>
                                               <!-- Text -->
                                           <div class="sbox-7-txt">
                                            <!-- Title -->
                                            <h5 class="h5-sm steelblue-color">Oncology services and Training </h5>
                                        </div>
									    </a>
									</li>

									
								  	<!-- TAB-8 LINK -->
									  <li class="nav-item icon-xs sbox-7 icon-xs wow fadeInUp mb-3" data-wow-delay="0.6s">
									    <a class="nav-link" id="tab17-list" data-toggle="pill" href="#tab-17" role="tab" aria-controls="tab-17" aria-selected="false">
									       
                                           <!-- Icon -->
											<span class="flaticon-031-scanner blue-color"></span>
                                               <!-- Text -->
                                           <div class="sbox-7-txt">
                                            <!-- Title -->
                                            <h5 class="h5-sm steelblue-color"> Peripheral early detection and screening  </h5>
                                        </div>
									    </a>
									</li>

									<!-- TAB-3 LINK -->
									<li class="nav-item icon-xs sbox-7 icon-xs wow fadeInUp mb-3" data-wow-delay="0.8s">
									    <a class="nav-link" id="tab13-list" data-toggle="pill" href="#tab-14" role="tab" aria-controls="tab-14" aria-selected="false">
									       
				 							<!-- Icon -->
											<span class="flaticon-142-ambulance blue-color"></span>

											<!-- Text -->
											<div class="sbox-7-txt">
				
												<!-- Title -->
												<h5 class="h5-sm steelblue-color">Peripheral Fast Track and Referral Pathways </h5>
													

											</div>
									    </a>
									</li>

									<!-- TAB-4 LINK -->
									<li class="nav-item icon-xs sbox-7 icon-xs wow fadeInUp mb-3" data-wow-delay="0.9s">
									    <a class="nav-link" id="tab15-list" data-toggle="pill" href="#tab-15" role="tab" aria-controls="tab-14" aria-selected="false">
									    <!-- Icon -->
											<span class="flaticon-015-blood-donation-1 blue-color"></span>

											<!-- Text -->
											<div class="sbox-7-txt">
				
												<!-- Title -->
												<h5 class="h5-sm steelblue-color">Survivorship and long-term care</h5>
												

											</div>
									    </a>
									</li>
									
									
								</ul>

							</div>	
						</div>	<!-- END TABS NAVIGATION -->


						<!-- TABS CONTENT -->
				 		<div class="col-lg-8">
							<div class="tab-content" id="pills-tabContent">


								<!-- TAB-1 CONTENT -->
								<div class="tab-pane fade show active" id="tab-11" role="tabpanel" aria-labelledby="tab11-list">									
									<!-- Title -->
									<h3 class="h3-md steelblue-color">One Stop Clinic</h3>

									<!-- Text -->
									<p> Our One Stop Clinic is a dedicated facility that provides comprehensive care for breast
										 and cervical cancer screening, diagnosis and treatment. Through longstanding collaboration between AAU and MLU, the center offers a range 
										of services to patients in need providing a centralized hub for diagnosis, treatment, and support.
									</p>

									<!-- Image -->
									<div class="tab-img">
										<img class="img-fluid" style="height: 300px; width: 80%;" src="{% static 'front/images/report/Picture3.jpg' %}" alt="tab-image" />
									</div>

								</div>	<!-- END TAB-1 CONTENT -->


								<!-- TAB-2 CONTENT -->
								<div class="tab-pane fade" id="tab-12" role="tabpanel" aria-labelledby="tab12-list">

									<!-- Title -->
									<h3 class="h3-md steelblue-color"> Oncology Service and Training  </h3>

									<!-- Text -->
									<p>Our Oncology services focus on providing comprehensive oncology services and training for healthcare
										 professionals to effectively evaluate and manage breast and cervical cancer. We equip gynecologists,
										  surgeons, general practitioners, nurses, and midwives from regional hospitals with the necessary 
										  skills and knowledge. 
									</p>

									<!-- Image -->
									<div class="tab-img">
										<img class="img-fluid" src="{% static 'front/images/report/Picture16.jpg' %}" alt="tab-image" />
									</div>

								</div>	<!-- END TAB-2 CONTENT -->

								
								<!-- TAB-2 CONTENT -->
								<div class="tab-pane fade" id="tab-17" role="tabpanel" aria-labelledby="tab17-list">

									<!-- Title -->
									<h3 class="h3-md steelblue-color"> Peripheral Early Detection and Screening </h3>

									<!-- Text -->
									<p>Our peripheral early detection and screening program aim to improve the detection rates of breast and cervical cancer in 
										peripheral sites. We intensify early detection and screening services in eight peripheral hospitals, ensuring 
										the continuous quality assurance of cervical cancer screening programs. Additionally, we conduct prevention 
										activities for marginalized and vulnerable women, address facility-level challenges, and work on awareness 
										creation and opportunistic screening. By extending screening services to peripheral areas, we reach a broader 
										population and detect cancer at earlier stages.
									</p>

									<!-- Image -->
									<div class="tab-img">
										<img class="img-fluid" src="{% static 'front/images/report/Picture14.png' %}" alt="tab-image" />
									</div>
									

								</div>	<!-- END TAB-2 CONTENT -->


								<!-- TAB-4 CONTENT -->
								<div class="tab-pane fade" id="tab-14" role="tabpanel" aria-labelledby="tab14-list">

									<!-- Title -->
									<h3 class="h3-md steelblue-color">Our Peripheral Fast Track and Referral Pathways</h3>

									<!-- Text -->
									<p> Our Peripheral Fast Track & Referral Pathways initiative focuses on implementing an efficient referral 
										system for breast and cervical cancer patients in peripheral sites. We establish fast-track referral and 
										linkage mechanisms in multiple primary health centers and hospitals. By streamlining the referral process
										 and ensuring timely access to specialized care, we improve patient outcomes and reduce delays in diagnosis 
										 and treatment.
									</p>

									<!-- Image -->
									<div class="tab-img">
										<img class="img-fluid" style="height: 400px; width: 100%;" src="{% static 'front/images/report/Picture4.jpg' %}" alt="tab-image" />
									</div>

								</div>	<!-- END TAB-4 CONTENT -->
								

								<!-- TAB-5 CONTENT -->
								<div class="tab-pane fade" id="tab-15" role="tabpanel" aria-labelledby="tab15-list">

									<!-- Title -->
									<h3 class="h3-md steelblue-color">Survivorship and Long-term Care </h3>

									<!-- Text -->
									<p> Our Survivorship & long-term care program aims to provide comprehensive support to cancer patients beyond 
										initial diagnosis and treatment. We conduct qualitative assessments to understand the needs of cancer patients
										in rural Ethiopia and design psycho-social support strategies at various levels of healthcare and the community. 
										Through training programs, educational materials, and engagement with local stakeholders, we ensure long-term 
										holistic care and create a support network for patients. By addressing the physical, emotional, and social 
										aspects of survivorship, we improve the quality of life for cancer survivors.

									</p>

									<!-- Image -->


									<!-- Options List -->
									<div class="row">

										<div class="col-xl-6">

											<div class="tab-img">
												<img class="img-fluid" style="height: 200px;" src="{% static 'front/images/report/Picture6.jpg' %}" alt="tab-image" />
											</div>

										</div>

										<div class="col-xl-6">
											
											<div class="tab-img">
												<img class="img-fluid" style="height: 210px; width: 100%;" src="{% static 'front/images/report/Picture10.png' %}" alt="tab-image" />
											</div>

											<!-- Option #4 -->
											
										</div>

									</div>	<!-- End Options List -->

								</div>	<!-- END TAB-5 CONTENT -->

								

							</div>	<!-- END TABS CONTENT -->


			 			</div>	
				 	</div>     <!-- End row -->	
				</div>     <!-- End container -->	
			</section>	<!-- END TABS-2 -->



{% endblock %}