
{% extends 'base.html' %}
{% load static %}

{% block title %} EKCC Team Members{% endblock %}

{% block about %} active-menu {% endblock %}

{% block link_name %} Team Members {% endblock %}
{% block page_name %} Our Team Members {% endblock %}
{% block content %}

		<div class="container pl-4" style="position: relative; top: 80px;">
			<div class="row">						
				<div class="col">
					<h4 class="h3-md steelblue-color text-center mb-3">Meet Our Team</h4>
				</div>
			</div>
		</div>
	<!-- DOCTORS-3
			============================================= -->
			<section id="doctors-3" class="bg-lightgrey wide-60 doctors-section division">
				<div class="container">
				


					<h5 class="h-md steelblue-color ">Martin-Luther-University Halle-Wittenberg, Halle </h5>
								
					<div class="row">


						{% for team in team %}
							{% if team.wing == 'Martin-Luther-University Halle-Wittenberg, Halle' %}
								<div class="col-md-6 col-lg-4">
									<div class="doctor-2">	
										<!-- Doctor Photo -->
										<div class="hover-overlay"> 
											<img class="img-fluid" style="height: 300px; width: 100%;" src="{{team.image.url}}" alt="doctor-foto">	
										</div>								
															
										<!-- Doctor Meta -->		
										<div class="doctor-meta">

											<h5 class="h5-xs blue-color"> {{team.name}} </h5>
											<span>{{team.role}}</span>

											<!-- Button -->
											<!-- Button -->

											{% if team.email %}

											<div id="accordion" role="tablist">
                
												<div id="id{{team.id}}" class="collapse " role="tabpanel" aria-labelledby="idtwo{{team.id}}" data-parent="#accordion">
													<div class="card-body">
								
													   <!-- Text -->	
													   <p class="p-sm"> {{team.email}}</p>
								
													</div>
												</div>
							
												<a  data-toggle="collapse" role="tab" id="idtwo{{team.id}}" href="#id{{team.id}}" aria-expanded="true" aria-controls="id{{team.id}}" 
												class=" collapsed btn btn-sm btn-blue blue-hover mt-10">Address</a>
											
											</div>

											{% endif %}
											<!-- <a class="btn btn-sm btn-blue blue-hover mt-15" href="" title="">View More Info</a> -->

											<!-- Button -->

										</div>	

									</div>					
								</div>	
							{% endif %}
						{% endfor %}
						<!-- END DOCTOR #2 -->

						
					</div>

					<h5 class="h-md steelblue-color ">Addis Ababa University | Collage of Health Science | School of Public Health  </h5>
								
					
					<div class="row">
				
						
						
						{% for team in team %}
							{% if team.wing == 'AAU' %}
								<div class="col-md-6 col-lg-4">
									<div class="doctor-2">	
										<!-- Doctor Photo -->
										<div class="hover-overlay"> 
											<img class="img-fluid" style="height: 300px; width: 100%;" src="{{team.image.url}}" alt="doctor-foto">	
										</div>								
															
										<!-- Doctor Meta -->		
										<div class="doctor-meta">

											<h5 class="h5-xs blue-color">{{team.name}} </h5>
											<span>{{team.role}}</span>

											<!-- Button -->
											<!-- Button -->

											{% if team.email %}

											<div id="accordion" role="tablist">
                
												<div id="id{{team.id}}" class="collapse " role="tabpanel" aria-labelledby="idtwo{{team.id}}" data-parent="#accordion">
													<div class="card-body">
								
													   <!-- Text -->	
													   <p class="p-sm"> {{team.email}}</p>
								
													</div>
												</div>
							
												<a  data-toggle="collapse" role="tab" id="idtwo{{team.id}}" href="#id{{team.id}}" aria-expanded="true" aria-controls="id{{team.id}}" 
												class=" collapsed btn btn-sm btn-blue blue-hover mt-10">Address</a>
											
											</div>

											{% endif %}
											<!-- <a class="btn btn-sm btn-blue blue-hover mt-15" href="" title="">View More Info</a> -->

											<!-- Button -->

										</div>	

									</div>					
								</div>	
							{% endif %}
						{% endfor %}

					</div>

					
					<h5 class="h-md steelblue-color ">Churchill Health Center </h5>
								

					<div class="row">
						
						{% for team in team %}
							{% if team.wing == 'Health-Center' %}
								<div class="col-md-6 col-lg-4">
									<div class="doctor-2">	
										<!-- Doctor Photo -->
										<div class="hover-overlay"> 
											<img class="img-fluid" style="height: 300px; width: 100%;" src="{{team.image.url}}" alt="doctor-foto">	
										</div>								
															
										<!-- Doctor Meta -->		
										<div class="doctor-meta">

											<h5 class="h5-xs blue-color"> {{team.name}} </h5>
											<span>{{team.role}}</span>

											{% if team.email %}

											<div id="accordion" role="tablist">
                
												<div id="id{{team.id}}" class="collapse " role="tabpanel" aria-labelledby="idtwo{{team.id}}" data-parent="#accordion">
													<div class="card-body">
								
													   <!-- Text -->	
													   <p class="p-sm"> {{team.email}}</p>
								
													</div>
												</div>
							
												<a  data-toggle="collapse" role="tab" id="idtwo{{team.id}}" href="#id{{team.id}}" aria-expanded="true" aria-controls="id{{team.id}}" 
												class=" collapsed btn btn-sm btn-blue blue-hover mt-10">Address</a>
											
											</div>

											{% endif %}
											<!-- Button -->
											<!-- <a class="btn btn-sm btn-blue blue-hover mt-15" href="" title="">View More Info</a> -->

											<!-- Button -->

										</div>	

									</div>					
								</div>	
							{% endif %}
						{% endfor %}

					</div>

					

				</div>	    <!-- End row -->
			</div>	   <!-- End container -->
		</section>	<!-- END DOCTORS-3 -->

            
{% endblock %}