



<span class="flaticon-083-stethoscope blue-color"></span>

<span class="flaticon-001-clock-1blue-color"></span> { content: "\f100"; }
<span class="flaticon-002-medicine-2blue-color"></span> { content: "\f101"; }
<span class="flaticon-003-chatblue-color"></span> { content: "\f102"; }
<span class="flaticon-004-blood-sample-2blue-color"></span> { content: "\f103"; }
<span class="flaticon-005-blood-donation-3blue-color"></span> { content: "\f104"; }
<span class="flaticon-006-cardiogram-8blue-color"></span> { content: "\f105"; }
<span class="flaticon-007-calendar-3blue-color"></span> { content: "\f106"; }
<span class="flaticon-008-ambulance-6blue-color"></span> { content: "\f107"; }
<span class="flaticon-009-cardiogram-7blue-color"></span> { content: "\f108"; }
<span class="flaticon-010-mortar-2blue-color"></span> { content: "\f109"; }
<span class="flaticon-011-atomsblue-color"></span> { content: "\f10a"; }
<span class="flaticon-012-calendar-2blue-color"></span> { content: "\f10b"; }
<span class="flaticon-013-blood-donation-2blue-color"></span> { content: "\f10c"; }
<span class="flaticon-014-clinic-history-8blue-color"></span> { content: "\f10d"; }
<span class="flaticon-015-blood-donation-1blue-color"></span> { content: "\f10e"; }
<span class="flaticon-016-doctor-1blue-color"></span> { content: "\f10f"; }
<span class="flaticon-017-moleculesblue-color"></span> { content: "\f110"; }
<span class="flaticon-018-scale-1blue-color"></span> { content: "\f111"; }
<span class="flaticon-019-skullblue-color"></span> { content: "\f112"; }
<span class="flaticon-020-hospital-bed-1blue-color"></span> { content: "\f113"; }
<span class="flaticon-021-hospital-9blue-color"></span> { content: "\f114"; }
<span class="flaticon-022-fishblue-color"></span> { content: "\f115"; }
<span class="flaticon-023-knifeblue-color"></span> { content: "\f116"; }
<span class="flaticon-024-spermatozoonblue-color"></span> { content: "\f117"; }
<span class="flaticon-025-printerblue-color"></span> { content: "\f118"; }
<span class="flaticon-026-bonesblue-color"></span> { content: "\f119"; }
<span class="flaticon-027-stomachblue-color"></span> { content: "\f11a"; }
<span class="flaticon-028-cardiogram-6blue-color"></span> { content: "\f11b"; }
<span class="flaticon-029-stretcher-1blue-color"></span> { content: "\f11c"; }
<span class="flaticon-030-clinic-history-7blue-color"></span> { content: "\f11d"; }
<span class="flaticon-031-scannerblue-color"></span> { content: "\f11e"; }
<span class="flaticon-032-laptop-3blue-color"></span> { content: "\f11f"; }
<span class="flaticon-033-scaleblue-color"></span> { content: "\f120"; }
<span class="flaticon-034-folderblue-color"></span> { content: "\f121"; }
<span class="flaticon-035-clinic-history-6blue-color"></span> { content: "\f122"; }
<span class="flaticon-036-hospital-8blue-color"></span> { content: "\f123"; }
<span class="flaticon-037-tabletsblue-color"></span> { content: "\f124"; }
<span class="flaticon-038-medicine-book-1blue-color"></span> { content: "\f125"; }
<span class="flaticon-039-emergency-call-1blue-color"></span> { content: "\f126"; }
<span class="flaticon-040-placeholderblue-color"></span> { content: "\f127"; }
<span class="flaticon-041-helicopterblue-color"></span> { content: "\f128"; }
<span class="flaticon-042-hospital-7blue-color"></span> { content: "\f129"; }
<span class="flaticon-043-dropper-1blue-color"></span> { content: "\f12a"; }
<span class="flaticon-044-dumbbellblue-color"></span> { content: "\f12b"; }
<span class="flaticon-045-moleculeblue-color"></span> { content: "\f12c"; }
<span class="flaticon-046-cardiogram-5blue-color"></span> { content: "\f12d"; }
<span class="flaticon-047-headblue-color"></span> { content: "\f12e"; }
<span class="flaticon-048-lungsblue-color"></span> { content: "\f12f"; }
<span class="flaticon-049-glassesblue-color"></span> { content: "\f130"; }
<span class="flaticon-050-mortar-1blue-color"></span> { content: "\f131"; }
<span class="flaticon-051-emergency-callblue-color"></span> { content: "\f132"; }
<span class="flaticon-052-flask-2blue-color"></span> { content: "\f133"; }
<span class="flaticon-053-medical-historyblue-color"></span> { content: "\f134"; }
<span class="flaticon-054-ambulance-5blue-color"></span> { content: "\f135"; }
<span class="flaticon-055-calendar-1blue-color"></span> { content: "\f136"; }
<span class="flaticon-056-first-aid-kit-5blue-color"></span> { content: "\f137"; }
<span class="flaticon-057-crutchblue-color"></span> { content: "\f138"; }
<span class="flaticon-058-blood-transfusion-2blue-color"></span> { content: "\f139"; }
<span class="flaticon-059-ambulance-4blue-color"></span> { content: "\f13a"; }
<span class="flaticon-060-cardiogram-4blue-color"></span> { content: "\f13b"; }
<span class="flaticon-061-nuclear-1blue-color"></span> { content: "\f13c"; }
<span class="flaticon-062-cardiogram-3blue-color"></span> { content: "\f13d"; }
<span class="flaticon-063-thermometer-2blue-color"></span> { content: "\f13e"; }
<span class="flaticon-064-hospital-6blue-color"></span> { content: "\f13f"; }
<span class="flaticon-065-hospital-bedblue-color"></span> { content: "\f140"; }
<span class="flaticon-066-cardiogram-2blue-color"></span> { content: "\f141"; }
<span class="flaticon-067-clinic-history-5blue-color"></span> { content: "\f142"; }
<span class="flaticon-068-ambulance-3blue-color"></span> { content: "\f143"; }
<span class="flaticon-069-test-tubeblue-color"></span> { content: "\f144"; }
<span class="flaticon-070-first-aid-kit-4blue-color"></span> { content: "\f145"; }
<span class="flaticon-071-clipboard-2blue-color"></span> { content: "\f146"; }
<span class="flaticon-072-hospital-5blue-color"></span> { content: "\f147"; }
<span class="flaticon-073-laptop-2blue-color"></span> { content: "\f148"; }
<span class="flaticon-074-laptop-1blue-color"></span> { content: "\f149"; }
<span class="flaticon-075-cardiogram-1blue-color"></span> { content: "\f14a"; }
<span class="flaticon-076-microscopeblue-color"></span> { content: "\f14b"; }
<span class="flaticon-077-ribbonblue-color"></span> { content: "\f14c"; }
<span class="flaticon-078-patch-2blue-color"></span> { content: "\f14d"; }
<span class="flaticon-079-safeboxblue-color"></span> { content: "\f14e"; }
<span class="flaticon-080-shieldblue-color"></span> { content: "\f14f"; }
<span class="flaticon-081-dropperblue-color"></span> { content: "\f150"; }
<span class="flaticon-082-pills-3blue-color"></span> { content: "\f151"; }
<span class="flaticon-083-stethoscopeblue-color"></span> { content: "\f152"; }
<span class="flaticon-084-pills-2blue-color"></span> { content: "\f153"; }
<span class="flaticon-085-blood-sample-1blue-color"></span> { content: "\f154"; }
<span class="flaticon-086-flask-1blue-color"></span> { content: "\f155"; }
<span class="flaticon-087-glass-of-waterblue-color"></span> { content: "\f156"; }
<span class="flaticon-088-injection-1blue-color"></span> { content: "\f157"; }
<span class="flaticon-089-blood-transfusion-1blue-color"></span> { content: "\f158"; }
<span class="flaticon-090-vaccineblue-color"></span> { content: "\f159"; }
<span class="flaticon-091-no-smokingblue-color"></span> { content: "\f15a"; }
<span class="flaticon-092-clockblue-color"></span> { content: "\f15b"; }
<span class="flaticon-093-pills-1blue-color"></span> { content: "\f15c"; }
<span class="flaticon-094-blood-drop-1blue-color"></span> { content: "\f15d"; }
<span class="flaticon-095-patch-1blue-color"></span> { content: "\f15e"; }
<span class="flaticon-096-calendarblue-color"></span> { content: "\f15f"; }
<span class="flaticon-097-flaskblue-color"></span> { content: "\f160"; }
<span class="flaticon-098-blood-dropblue-color"></span> { content: "\f161"; }
<span class="flaticon-099-first-aid-kit-3blue-color"></span> { content: "\f162"; }
<span class="flaticon-100-voltmeterblue-color"></span> { content: "\f163"; }
<span class="flaticon-101-cardiogramblue-color"></span> { content: "\f164"; }
<span class="flaticon-102-hospital-4blue-color"></span> { content: "\f165"; }
<span class="flaticon-103-nuclearblue-color"></span> { content: "\f166"; }
<span class="flaticon-104-blood-sampleblue-color"></span> { content: "\f167"; }
<span class="flaticon-105-first-aid-kit-2blue-color"></span> { content: "\f168"; }
<span class="flaticon-106-first-aid-kit-1blue-color"></span> { content: "\f169"; }
<span class="flaticon-107-medicine-1blue-color"></span> { content: "\f16a"; }
<span class="flaticon-108-hospital-3blue-color"></span> { content: "\f16b"; }
<span class="flaticon-109-injectionblue-color"></span> { content: "\f16c"; }
<span class="flaticon-110-hospital-2blue-color"></span> { content: "\f16d"; }
<span class="flaticon-111-ambulance-2blue-color"></span> { content: "\f16e"; }
<span class="flaticon-112-mortarblue-color"></span> { content: "\f16f"; }
<span class="flaticon-113-clinic-history-4blue-color"></span> { content: "\f170"; }
<span class="flaticon-114-pillblue-color"></span> { content: "\f171"; }
<span class="flaticon-115-ambulance-1blue-color"></span> { content: "\f172"; }
<span class="flaticon-116-patchblue-color"></span> { content: "\f173"; }
<span class="flaticon-117-stretcherblue-color"></span> { content: "\f174"; }
<span class="flaticon-118-blood-transfusionblue-color"></span> { content: "\f175"; }
<span class="flaticon-119-clipboard-1blue-color"></span> { content: "\f176"; }
<span class="flaticon-120-monitor-1blue-color"></span> { content: "\f177"; }
<span class="flaticon-121-smartphone-4blue-color"></span> { content: "\f178"; }
<span class="flaticon-122-clinic-history-3blue-color"></span> { content: "\f179"; }
<span class="flaticon-123-smartphone-3blue-color"></span> { content: "\f17a"; }
<span class="flaticon-124-laptopblue-color"></span> { content: "\f17b"; }
<span class="flaticon-125-clinic-history-2blue-color"></span> { content: "\f17c"; }
<span class="flaticon-126-medicineblue-color"></span> { content: "\f17d"; }
<span class="flaticon-127-thermometer-1blue-color"></span> { content: "\f17e"; }
<span class="flaticon-128-thermometerblue-color"></span> { content: "\f17f"; }
<span class="flaticon-129-hospital-1blue-color"></span> { content: "\f180"; }
<span class="flaticon-130-clinic-history-1blue-color"></span> { content: "\f181"; }
<span class="flaticon-131-venusblue-color"></span> { content: "\f182"; }
<span class="flaticon-132-medicine-bookblue-color"></span> { content: "\f183"; }
<span class="flaticon-133-smartphone-2blue-color"></span> { content: "\f184"; }
<span class="flaticon-134-smartphone-1blue-color"></span> { content: "\f185"; }
<span class="flaticon-135-hospitalblue-color"></span> { content: "\f186"; }
<span class="flaticon-136-monitorblue-color"></span> { content: "\f187"; }
<span class="flaticon-137-doctorblue-color"></span> { content: "\f188"; }
<span class="flaticon-138-loupeblue-color"></span> { content: "\f189"; }
<span class="flaticon-139-first-aid-kitblue-color"></span> { content: "\f18a"; }
<span class="flaticon-140-healthcareblue-color"></span> { content: "\f18b"; }
<span class="flaticon-141-clinic-historyblue-color"></span> { content: "\f18c"; }
<span class="flaticon-142-ambulanceblue-color"></span> { content: "\f18d"; }
<span class="flaticon-143-teethblue-color"></span> { content: "\f18e"; }
<span class="flaticon-144-blood-donationblue-color"></span> { content: "\f18f"; }
<span class="flaticon-145-flagblue-color"></span> { content: "\f190"; }
<span class="flaticon-146-archiveblue-color"></span> { content: "\f191"; }
<span class="flaticon-147-pillsblue-color"></span> { content: "\f192"; }
<span class="flaticon-148-smartphoneblue-color"></span> { content: "\f193"; }
<span class="flaticon-149-bottleblue-color"></span> { content: "\f194"; }
<span class="flaticon-150-clipboardblue-color"></span> { content: "\f195"; }