{% load static %}
<!DOCTYPE html>
<html lang="en">

	
<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="author" content="Jthemes"/>	
		<meta name="description" content="Else Kröner Center, The Medical Faculty at the Martin-Luther-University of Halle-Wittenberg, involved in Ethiopia Addis Ababa University, College of Health Science"/>
		<meta name="keywords" content="EKC, AAU EKC, ">	
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
				
  		<!-- SITE TITLE -->
		<title>EKC Addis Ababa</title>
							
		<!-- FAVICON AND TOUCH ICONS  -->
		<link rel="shortcut icon" href="{% static 'front/images/logo/logo-big.png' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'front/images/logo/logo-big.png' %}" type="image/x-icon">
		
		<!-- GOOGLE FONTS -->
		<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet"> 	
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">  -->

		<!-- BOOTSTRAP CSS -->
		<link href="{% static 'front/css/bootstrap.min.css' %}" rel="stylesheet">
				
		<!-- FONT ICONS -->
		<!-- <link href=" static 'front/css/all.css' " integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" rel="stylesheet" crossorigin="anonymous">		 -->
		<link href="{% static 'front/css/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'front/css/all.css' %}" rel="stylesheet" >
		{% block css %} 
		{% endblock %}

		<!-- PLUGINS STYLESHEET -->
		<link href="{% static 'front/css/menu.css' %}" rel="stylesheet">
		<link id="effect" href="{% static 'front/css/dropdown-effects/fade-down.css' %}" media="all" rel="stylesheet">
		
				
		<!-- TEMPLATE CSS -->
		<link href="{% static 'front/css/style.css' %}" rel="stylesheet">
		
		<!-- RESPONSIVE CSS -->
		<link href="{% static 'front/css/responsive.css' %}" rel="stylesheet"> 

        
	
	</head>




	<body>




		<!-- PRELOADER SPINNER
		============================================= -->	
		<!-- <div id="loader-wrapper">
			<div id="loader"><div class="loader-inner"></div></div>
		</div> -->





		<!-- PAGE CONTENT
		============================================= -->	
		<div id="page" class="page">




			<!-- HEADER
			============================================= -->
			<header id="header" class="header">


				<!-- MOBILE HEADER -->
			    <div class="wsmobileheader clearfix">
			    	<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
			    	<span class="smllogo"><img src="{% static 'front/images/logo/logo-big.png' %}" width="180" height="40" alt="mobile-logo"/></span>
			    	<a href="tel:123456789" class="callusbtn"><i class="fas fa-phone"></i></a>
			 	</div>


			 	<!-- HEADER STRIP -->
			 	<div class="headtoppart bg-blue clearfix">
			    	<div class="headerwp clearfix">

			    		<!-- Address -->
			     		<div class="headertopleft">			     			
			        		<div class="address clearfix"><span><i class="fas fa-map-marker-alt"></i> Zambia St, Addis Ababa
			            		 </span> <a href="tel:123456789" class="callusbtn"><i class="fas fa-phone"></i>(+251) 956 97 8908</a>
			            	</div>
			     		</div>

			     		<!-- Social Links -->
					    <div class="headertopright">			     			
			        		<div class="address clearfix">
								<a href="{% url 'accounts:register' %}" class="callusbtn">Register</a>
								<span>/</span> 

								{% if user.is_authenticated %}
								<a href="{% url 'accounts:logout' %}" class="callusbtn pr-3" > Signout </a>

								<a href="{% url 'staff:index' %}" class="callusbtn"> 
									<img src="{% static 'front/images/user.png' %}" style="max-width: 40px; border-radius: 50%;">
									<span class="ml-2">{{user.full_name}}</span> </a>
								{% else %}
								<a href="{% url 'accounts:login' %}" class="callusbtn pr-3"> Signin </a>
								{% endif %}

			            	</div>

				      	</div>

				    </div>
			  	</div>	
				<!-- END HEADER STRIP -->


			  	<!-- NAVIGATION MENU -->
			  	<div class="wsmainfull menu clearfix">
    				<div class="wsmainwp clearfix">

    					<!-- LOGO IMAGE -->
    					<!-- For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 360 x 80 pixels) -->
    					<div class="desktoplogo"><a href="#hero-1"><img src="{% static 'front/images/logo/logo-big.png' %}"  width="160" height="70" alt="header-logo"></a></div>

    					<!-- MAIN MENU -->
      					<nav class="wsmenu clearfix">
        					<ul class="wsmenu-list">


        						<!-- DROPDOWN MENU -->
					        	<li aria-haspopup="true" >
                                    <a href="{% url 'home' %}" class="{% block home %} {% endblock %}" >Home </a>
					          	</li>

					        	<li aria-haspopup="true"> <a href="" class="{% block about %} {% endblock %}">About Us  <span class="wsarrow"></span> </a>
									<ul class="sub-menu">
										<li aria-haspopup="true"><a href="{% url 'about_us' %}"> About EKC </a></li>
										<li aria-haspopup="true"><a href="{% url 'service' %}"> Service </a></li>
										<li aria-haspopup="true"><a href="{% url 'team'  %}"> Team </a></li>
									</ul>
					          	</li>

					        	<li aria-haspopup="true"> <a href="{% url 'publication' %}" class="{% block publication %} {% endblock %}" >Publications <span class="wsarrow"></span> </a>
                                    <ul class="sub-menu">
                                       <li aria-haspopup="true"><a href="{% url 'publication' %}"> Research Outputs </a> </li>
                                       <li aria-haspopup="true"><a href="{% url 'report' %}"> Reports </a></li>
                                       <li aria-haspopup="true"><a href="{% url 'call_application' %}"> Call Applications </a></li>
                                    </ul>
					          	</li>

								<!-- <li aria-haspopup="true">
									<a href="{% url 'team' %}">Team </a>
								</li> -->

                                <li aria-haspopup="true"><a href="" class="{% block news %} {% endblock %}">News & Gallery <span class="wsarrow"></span></a>
                                    <ul class="sub-menu">
                                       <li aria-haspopup="true"><a href="{% url 'blog' type='news' %}"> News </a> </li>
                                       <li aria-haspopup="true"><a href="{% url 'blog' type='gallery' %}"> Gallery </a></li>
                                    </ul>
                                </li>	
                               
                                <li aria-haspopup="true"><a href="" class="{% block event %} {% endblock %}"> Events <span class="wsarrow"></span> </a>
                                    <ul class="sub-menu">
                                        <li aria-haspopup="true"><a href="{% url 'event' type='up_coming' %}"> Up Coming Events </a></li>
                                        <li aria-haspopup="true"><a href="{% url 'event' type='past' %}"> Past Events </a></li>
                                    </ul>
                                </li>
                                
					        	<li aria-haspopup="true">
                                    <a href="{% url 'contact_us' %}" class="{% block contact %} {% endblock %}"> Contact Us  </a>
					          	</li>


        					</ul>
        				</nav>	<!-- END MAIN MENU -->

    				</div>
    			</div>	<!-- END NAVIGATION MENU -->


			</header>	<!-- END HEADER -->


		
            {% if messages %}
                <div class="col-md-6 msg-alert " >
                    {% for m in messages %}
                        <div class="alert alert-{{m.tags}} alert-bg  alert-block">
                            <p class=" h5-sm alert-title mt-0 mb-0 ">{{m}}</p> 
                            <!-- <button class="btn btn-link btn-rounded btn-close" style="color: white;"  aria-label="button">
                                <i class="close-icon " style="color: white;" ></i>
                            </button> -->
                        </div>
                    {% endfor %}
                </div>
            {% endif %}


			{% if not index %}
						<!-- BREADCRUMB
			============================================= -->
			<div class=" {% block bg %} {% endblock %} division " style="box-shadow: 1px 1px 2px #888; max-height: 70px;">
				<div class="container">
					<div class="row">						
						<div class="col">
							<div class=" breadcrumb-holder">

								<!-- Breadcrumb Nav -->
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
								    	<li class="breadcrumb-item active" aria-current="page">{% block page_name %} {% endblock %}</li>
								    	<!-- <li class="breadcrumb-item active" aria-current="page">{% block link_name %} {% endblock %}</li> -->
								  	</ol>
								</nav>

								<!-- Title -->
								<!-- <h4 class="h4-sm steelblue-color text-center"></h4> -->

							</div>
						</div>
						
					</div>  <!-- End row -->	
				</div>	<!-- End container -->		
			</div>	<!-- END BREADCRUMB -->	

			{% endif %}



            {% block content %}

            {% endblock %}


			<!-- FOOTER-1
			============================================= -->
			<footer id="footer-1" class="bg-image wide-40 footer division">
				<div class="container">


					<!-- FOOTER CONTENT -->
					<div class="row">	
						<!-- FOOTER INFO -->
						<div class="col-md-6 col-lg-4">
							<div class="footer-info mb-40">

								<!-- Footer Logo -->
								<!-- For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 360 x 80  pixels) -->
								<img src="{% static 'front/images/logo/loggo.jpg' %}" width="160" height="70" alt="footer-logo">

								<!-- Text -->	
								<p class="p-sm mt-20">Else Kröner Center for Cancer Care
								</p>  

								<!-- Social Icons -->
								<div class="footer-socials-links mt-20">
									<ul class="foo-socials text-center clearfix">

										<li><a href="#" class="ico-facebook"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#" class="ico-twitter"><i class="fab fa-twitter"></i></a></li>	
										<li><a href="#" class="ico-google-plus"><i class="fab fa-google-plus-g"></i></a></li>
										<li><a href="#" class="ico-tumblr"><i class="fab fa-tumblr"></i></a></li>			

									</ul>									
								</div>	
							
							</div>		
						</div>


						<!-- FOOTER CONTACTS -->
						<div class="col-md-6 col-lg-4">
							<div class="footer-box mb-40">
							
								<!-- Title -->
								<h5 class="h5-xs">Our Location</h5>

								<!-- Address -->
								<p> Zambia St, Kirkos Sub City</p> 
								<p>Addis Ababa, Ethiopia</p>
								
								<!-- Email -->
								<p class="foo-email mt-20">E: <a href="mailto:yourdomain@mail.com">EKC.aau.edu.et</a></p>

								<!-- Phone -->
								<p>P: +251 987 65 4321</p>

							</div>
						</div>


						<!-- FOOTER WORKING HOURS -->
						<div class="col-md-6 col-lg-4">
							<div class="footer-box mb-40">
							
								<!-- Title -->
								<h5 class="h5-xs">Useful Links</h5>

								<!-- Working Hours -->
								<p class="p-sm"><i class="fas fa-angle-double-right"></i> <span>About EKC </span></p>
								<p class="p-sm"><i class="fas fa-angle-double-right"></i> <span>Upcoming Events</span></p>
								<p class="p-sm"><i class="fas fa-angle-double-right"></i> <span>Recent News</span></p>
								<p class="p-sm"><i class="fas fa-angle-double-right"></i> <span>Contact Us</span></p>									

							</div>
						</div>


						


					</div>	  <!-- END FOOTER CONTENT -->


					<!-- FOOTER COPYRIGHT -->
					<div class="bottom-footer">
						<div class="row">
							<div class="col-md-6">
								<p class="footer-copyright">&copy; 2023 <span>EKC</span>. All Rights Reserved</p>
							</div>
						</div>
					</div>


				</div>	   <!-- End container -->										
			</footer>	<!-- END FOOTER-1 -->




		</div>	<!-- END PAGE CONTENT -->



		<!-- EXTERNAL SCRIPTS
		============================================= -->	
		<script src="{% static 'front/js/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'front/js/bootstrap.min.js' %}"></script>	
		<script src="{% static 'front/js/jquery.easing.js' %}"></script>
		<script src="{% static 'front/js/jquery.appear.js' %}"></script>
		<script src="{% static 'front/js/jquery.stellar.min.js' %}"></script>	
		<script src="{% static 'front/js/jquery.scrollto.js' %}"></script>
		<script src="{% static 'front/js/jquery.magnific-popup.min.js' %}"></script>	
		<script src="{% static 'front/js/owl.carousel.min.js' %}"></script>
		
		<script src="{% static 'front/js/materialize.js' %}"></script>	
		<script src="{% static 'front/js/menu.js' %}"></script>
	
		<!-- Custom Script -->		
		<script src="{% static 'front/js/custom.js' %}"></script>
		
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
		
		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->	
		<!--
		<script>
			window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
			ga('create', 'UA-XXXXX-Y', 'auto');
			ga('send', 'pageview');
		</script>
		<script async src='https://www.google-analytics.com/analytics.js' %}'></script>
		-->
		<!-- End Google Analytics -->

		
        {%  block js %}
        {% endblock %}
		

	</body>



</html>	