
{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}
{% block home %} active-menu {% endblock %}
		{% block content %}

			<!-- INTRO-1
			============================================= -->	
			<section id="hero-6" class="hero-section division">


				<!-- SLIDER -->
				<div class="slider">
			    	<ul class="slides">


				     	<!-- SLIDE #1 -->
				      	<li id="slide-1">

					        <!-- Background Image -->
				        	<!-- <img src="{% static  'front/images/mri_1000x500.jpg' %}" alt="slide-background"> -->
				        	<img src="{% static  'front/images/slider/slide-5.jpg' %}" alt="slide-background">

							<!-- Image Caption -->
		       				<div class="caption d-flex align-items-center center-align">
		       					<div class="container">
		       						<div class="row">
		       							<div class="col-md-12">
		       								<div class="caption-txt white-color">

						       					<!-- Title -->
					        					<h5>Welcome to AAU </h5>
								         	 	<h2>Else Kröner Center </h2>
									          	
									          	<!-- Text -->
												<p class="p-md">The Medical Faculty at the Martin-Luther-University of Halle-Wittenberg,
													 involved in Ethiopia under the direction of PD Dr. Eva Kantelhardt!
												</p>

												<!-- Button -->
												<a href="{% url 'about_us' %}" class="btn btn-blue tra-white-hover">More About EKC</a>

											</div>
										</div>
									</div>  <!-- End row -->
								</div>  <!-- End container -->
					        </div>	<!-- End Image Caption -->

					    </li>	<!-- END SLIDE #1 -->


				      	<!-- SLIDE #2 -->
				      	<li id="slide-2">

				        	<!-- Background Image -->
				        	<img src="{% static  'front/images/slider/slide-4.jpg' %}" alt="slide-background">

							<!-- Image Caption -->
	        				<div class="caption d-flex align-items-center center-align">
	        					<div class="container">
		       						<div class="row">
		       							<div class="col-md-12">
		       								<div class="caption-txt white-color">

					        					<!-- Title -->
					        					<h5>Our Office Provides</h5>
								         	 	<h2>Improved oncological healthcare for women</h2>
									          	
									          	<!-- Text -->
												<p class="p-md"> We helped women to be able to take part in screening 
													for the early detection of cervical cancer in rural regions.
												</p>

												<!-- Button -->
												<a href="{% url 'about_us' %}" class="btn btn-tra-white black-hover mr-10">Get More Info</a>
												<a href="{% url 'service' %}" class="btn btn-blue blue-hover">Our Core Services</a>

											</div>	
				         				</div>
									</div>  <!-- End row -->
								</div>  <!-- End container -->
					        </div>	<!-- End Image Caption -->

				     	</li>	<!-- END SLIDE #2 -->


				     	<!-- SLIDE #3 -->
				      	<li id="slide-3">

				      		<!-- Background Image -->
				        	<img src="{% static  'front/images/ekc/tm.png' %}" alt="slide-background">

				        	<!-- Image Caption -->
		       			 	<div class="caption d-flex align-items-center center-align">
		       			 		<div class="container">
		       						<div class="row">
		       							<div class="col-md-12">
		       								<div class="caption-txt white-color">

						       			 		<!-- Title -->
					        					<h5>With staff of </h5>
								         	 	<h2>High-Class Professionals</h2>

												<!-- Button -->
												<a href="{% url 'about_us' %}" class="btn btn-blue blue-hover mr-10"> Get More Info</a>
												<a href="{% url 'team' %}" class="btn btn-tra-white black-hover">View All Staff</a>

											</div>
					        			</div>
									</div>  <!-- End row -->
								</div>  <!-- End container -->
					        </div>	<!-- End Image Caption -->

				     	</li>	<!-- END SLIDE #3 -->

				    </ul>
			  	</div>	<!-- END SLIDER -->


			</section>	<!-- END INTRO-1 -->





			<!-- ABOUT-5
			============================================= -->
			<section id="about-5" class="pt-100 about-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- IMAGE BLOCK -->
						<div class="col-lg-6">
							<div class="about-img text-center wow fadeInUp" data-wow-delay="0.2s">
								<img class="img-fluid" src="{% static  'front/images/ekc/img.jpg' %}" style="height: 270px;" alt="about-image">
							</div>
						</div>


						<!-- TEXT BLOCK -->	
						<div class="col-lg-6">
							<div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">

								<!-- Title -->
								<h3 class="h3-md steelblue-color">Established to improve women healthcare</h3>

								<!-- Text -->
								<p>EKC is a five-year project being implemented in partnership with Martin Luther University which is funded by EKFS,
									to establish One Stop Breast and Cervical Cancer Clinic.
								</p>


							</div>
						</div>	<!-- END TEXT BLOCK -->	

						
					</div>    <!-- End row -->
				</div>	   <!-- End container -->
			</section>	<!-- END ABOUT-5 -->
	


						<!-- TABS-1
			============================================= -->
			<section id="tabs-1" class="bg-lightgrey wide-100 tabs-section division">
				<div class="container">	
				 	<div class="row">
				 		<div class="col-md-3">
				 			
				 			<!-- TABS NAVIGATION -->
							<div id="tabs-nav" class="list-group text-center">
							    <ul class="nav nav-pills" id="pills-tab" role="tablist">

							    	<!-- TAB-1 LINK -->
								  	<li class="nav-item icon-xs pb-2">
								    	<a class="nav-link active" id="tab1-list" data-toggle="pill" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">
								    		<span class="flaticon-080-shield"></span> Mission
								    	</a>
								  	</li>

								  	<!-- TAB-2 LINK -->
									<li class="nav-item icon-xs pb-2" >
									    <a class="nav-link" id="tab2-list" data-toggle="pill" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">
									       <span class="flaticon-138-loupe"></span> Vision
									    </a>
									</li>

									<!-- TAB-3 LINK -->
									<li class="nav-item icon-xs">
									    <a class="nav-link" id="tab3-list" data-toggle="pill" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">
									       <span class="flaticon-145-flag"></span> Goal
									    </a>
									</li>


								</ul>

							</div>	<!-- END TABS NAVIGATION -->
						
						</div>


							<!-- TABS CONTENT -->
							
						<div class="col-md-8" style="background-color: #fff; border: 1px solid #f5f5f5;   box-shadow: 5px 5px 12px #888888;">
							<div class="tab-content" id="pills-tabContent" style="padding: 18px;">


								<!-- TAB-1 CONTENT -->
								<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab1-list">
									<div class="row d-flex align-items-center " >



										<!-- TAB-1 TEXT -->
										<div class="col-lg-12">
											<div class="txt-block pc-30">

												<!-- Title -->
												<h3 class="h3-md steelblue-color">Our Mission</h3>

												<!-- Text -->
												<p class="mb-30">To upgrade and decentralize oncology services, 
													through long-established inter-disciplinary team.  </p>



												<!-- End Options List -->

											</div>	
										</div>	<!-- END TAB-1 TEXT -->


									</div>
								</div>	<!-- END TAB-1 CONTENT -->


								<!-- TAB-2 CONTENT -->
								<div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab2-list">
									<div class="row d-flex align-items-center">


										<!-- TAB-2 TEXT -->
										<div class="col-lg-12">
											<div class="txt-block pc-30">

												<!-- Title -->
												<h3 class="h3-md steelblue-color">Our Vision</h3>

												<!-- Text -->
												<p class="mb-30">Establishing a one stop service for women with breast or cervical symptoms for timely, 
													high-quality diagnosis and treatment in 2025. 

												</p>

												
											</div>	
										</div>	<!-- END TAB-2 TEXT -->

										
									</div>
								</div>	<!-- END TAB-2 CONTENT -->


								<!-- TAB-3 CONTENT -->
								<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab3-list">
									<div class="row d-flex align-items-center">

										<!-- TAB-3 TEXT -->
										<div class="col-lg-12">
											<div class="txt-block pc-30">

												<!-- Title -->
												<h3 class="h3-md steelblue-color">Our Goal</h3>

												<!-- Text -->
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">Strengthen the screening and early detection of cervical and breast cancer at EKC-PPCFs </p>
												
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">Improve post-screening follow-up and care at EKC-PPCFs </p>
												
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">Support the policy environment in the ministry of health </p>
												
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">Conduct an implementation research </p>
												

												<!-- Button -->
												
											</div>	
										</div>	<!-- END TAB-3 TEXT -->

										
									</div>
								</div>	<!-- END TAB-3 CONTENT -->

								<!-- Button -->
								<a href="{% url 'about_us' %}" class="btn btn-blue blue-hover mt-30">View More Details</a>


							</div>	<!-- END TABS CONTENT -->


			 			</div>	
				 	</div>     <!-- End row -->	
				</div>     <!-- End container -->	
			</section>	<!-- END TABS-1 -->


			
			<!-- SERVICES-6
			============================================= -->
			<section id="services-6" class="bg-blue wide-40 servicess-section division">
				<div class="container white-color">	


					<!-- SECTION TITLE -->	
					<div class="row">	
						<div class="col-lg-10 offset-lg-1 section-title">		

							<!-- Title 	-->	
							<h3 class="h3-md">Our Core Services</h3>	

							<!-- Text -->
							<p> Addis Ababa University EKC Services and other important features
							</p>
										
						</div> 
					</div>


					<div class="row d-flex align-items-center">


						<!-- LEFT SIDE CONTENT -->	
						<div class="col-md-6 col-lg-4">
							
							<!-- SERVICE BOX #1 -->
							<div class="sbox-6 pr-30 text-right wow fadeInRight" data-wow-delay="0.4s">
							
								<!-- Text -->
								<h5 class="h5-md">Establish Facilities </h5>
								<p>of nearby health posts and health centers for easy access.</p>
								
							</div>
									
							<!-- SERVICE BOX #2 -->	
							<div class="sbox-6 pr-30 mr-40 text-right wow fadeInRight" data-wow-delay="0.6s">							
									
								<!-- Text -->
								<h5 class="h5-sm"> Screening and Early Detection </h5>
								<p>at each centers with additional post screening and follow-up care.</p>
								
							</div>	
							
							<!-- SERVICE BOX #2 -->	
							<div class="sbox-6 pr-30 text-right wow fadeInRight" data-wow-delay="0.8s">							
									
								<!-- Text -->
								<h5 class="h5-sm"> Consultancy  </h5>
								<p>mentorship and supportive supervisions for care providers and patients. </p>
								
							</div>	
									
								
						</div>	
								
													
						<!-- SERVICE IMAGE -->
						<div class="col-lg-4 s6-img">	
							<div class="sbox-6-img mb-40 text-center wow fadeInUp" data-wow-delay="0.8s">
								<img class="img-fluid pb-5" src="{% static  'front/images/ekc/cancer_2.png' %}" alt="services-image">
								<!-- Button -->
								<a href="{% url 'service' %}" class="btn btn-tra-white black-hover mr-10  ">View More Services</a>
							</div>
						</div>
						
								
						<!-- RIGHT SIDE CONTENT -->							
						<div class="col-md-6 col-lg-4">	


							<!-- SERVICE BOX #4 -->
							<div class="sbox-6 pl-30 wow fadeInLeft" data-wow-delay="0.4s">
								
								<!-- Text -->
								<h5 class="h5-md"> Conduct Reasearch  </h5>
								<p> on Cancer and write manuscript workshops for MPH students. </p>
								
							</div>
							
							<!-- SERVICE BOX #5 -->
							<div class="sbox-6 pl-30 ml-40 wow fadeInLeft" data-wow-delay="0.6s">
							
								<!-- Text -->
								<h5 class="h5-md">Interdisciplinary Trainings   </h5>
								<p> for capacity development at peripheral centers.  </p>
								
							</div>
								
							<!-- SERVICE BOX #6 -->
							<div class="sbox-6 pl-30 wow fadeInLeft" data-wow-delay="0.8s">
								
								<!-- Text -->
								<h5 class="h5-md">Policy Support  </h5>
								<p>conduct<!-- evidence-based -->  guideline and manual on breast cancer to improve
									 policy environment in MoH. </p>
							</div>	
								
						</div>


					</div>	  <!-- End row -->	
				</div> 	   <!-- End container -->			
			</section>	<!-- END SERVICES-6 -->	

			

			<!-- BLOG-1
			============================================= -->
			<section id="blog-1" class="wide-60 blog-section division">				
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row">	
						<div class="col-lg-10 offset-lg-1 section-title">	

							<!-- Title 	-->	
							<h3 class="h3-md steelblue-color"> Our Latest News, Events & Announcements </h3>	

							<!-- Text -->
							<p> Subscribe to reach for daily news, biggest medical events and call submission announcements at AAU
							</p>
								
						</div>
					</div>


			 		<!-- BLOG POSTS HOLDER -->
				 	<div class="row">

						{% for news in news %}
							{% if forloop.counter <= 3 %}
						
								<div class="col-lg-4">
									<div class="blog-post wow fadeInUp" data-wow-delay="0.4s">

										<!-- BLOG POST IMAGE -->
										<div class="blog-post-img">
											<img class="img-fluid " src="{{news.image.url}}" style="height: 200px; width: 100%; " alt="blog-post-image" />
										</div>	
									</div>

										<!-- BLOG POST TITLE -->
									<div class="blog-post-txt">

										<!-- Post Title -->
										<h5 class="h5-sm steelblue-color"><a href="{% url 'news_detail' id=news.id %}">{{news.title|truncatechars:110}}</a></h5>

										<!-- Post Data -->
										<span>{{news.created_date}} by <span>{{news.created_by}}</span></span>

										<!-- Post Text -->
										<p>{{news.desc|truncatechars:170|safe}}</p>

									</div>

								</div>
							{% endif %}
						{% endfor %}
						<!-- END BLOG POSTS HOLDER -->
					</div>

					<!-- Button -->
					<div class="text-right pb-5 wow fadeInUp" data-wow-delay="0.9s" >
						<a href="{% url 'blog' type='news' %}" class="btn btn-blue-border blue-tra-hover   " > More News <i class="fas fa-angle-double-right"></i></a>
					</div>
					<!-- End Button -->


				</div>
				<!-- End container -->
		
			</section>	<!-- END BLOG-1 -->

			
			<!-- TEAM-1
			============================================= -->
			<section id="doctors-1" class="wide-40 doctors-section division" style="border-top: 5px solid #e69fc0;">
				<div class="container">


			 		<!-- SECTION TITLE -->	
					<div class="row">	
						<div class="col-lg-10 offset-lg-1 section-title " >		

							<!-- Title 	-->	
							<h3 class="h3-md steelblue-color" >Our Staff Members</h3>	

							<!-- Text -->
							<p> Meet our highly qualified set of proffesional staff members
							</p>
										
						</div> 
					</div>	 <!-- END SECTION TITLE -->	


					<div class="row">


						<!-- DOCTOR #1 -->
						<div class="col-md-6 col-lg-3">
							<div class="doctor-1">								
														
								<!-- Doctor Photo -->
								<div class="hover-overlay text-center" style="border-radius: 50%;"> 

									<!-- Photo -->
									<img class="img-fluid" style=" height: 280px; width:100%;" src="{% static  'front/images/ekc/adamu.jpg' %}" alt="doctor-foto" >	
									<!-- <div class="item-overlay"></div> -->
									
									<!-- Profile Link -->		
									<!-- <div class="profile-link">
										<a class="btn btn-sm btn-tra-white black-hover" href="doctor-1.html" title="">View More Info</a>
										
									</div>  -->
								</div>	

								<!-- Doctor Meta -->		
								<div class="doctor-meta text-center">

									<h5 class="h5-sm steelblue-color"> Dr. Adamu Addisse </h5>
									<span class="blue-color">Chair Person </span>


								</div>	

							</div>								
						</div>	<!-- END DOCTOR #1 -->
						
						
						<!-- DOCTOR #2 -->
						<div class="col-md-6 col-lg-3">
							<div class="doctor-1">	
																						
								<!-- Doctor Photo -->
								<div class="hover-overlay text-center" style="border-radius: 50%;"> 

									<!-- Photo -->
									<img class="img-fluid" style=" height: 280px; width:100%;" src="{% static  'front/images/ekc/muluken.png' %}" alt="doctor-foto">	
									<!-- <div class="item-overlay"></div>  -->

								</div>	

								<!-- Doctor Meta -->		
								<div class="doctor-meta text-center">

									<h5 class="h5-sm steelblue-color"> Dr. Muluken Gizaw</h5>
									<span class="blue-color">EKC Offficer </span>

								</div>	

							</div>					
						</div>	<!-- END DOCTOR #2 -->
						
						
						<!-- DOCTOR #3 -->
						<div class="col-md-6 col-lg-3">
							<div class="doctor-1">	
																						
								<!-- Doctor Photo -->
								<div class="hover-overlay text-center" style="border-radius: 50%;"> 

									<!-- Photo -->
									<img class="img-fluid" style=" height: 280px; width:100%;" src="{% static  'front/images/ekc/sofoniyas.jpg' %}" alt="doctor-foto">	
									<!-- <div class="item-overlay"></div> -->

								</div>		
								
								<!-- Doctor Meta -->		
								<div class="doctor-meta text-center">

									<h5 class="h5-sm steelblue-color">Dr. Sefonias Getachew  </h5>
									<span class="blue-color">Supervisor </span>

								</div>	

							</div>			
						</div>	<!-- END DOCTOR #3 -->
											
						
						<!-- DOCTOR #4 -->
						<div class="col-md-6 col-lg-3">
							<div class="doctor-1">	
																					
								<!-- Doctor Photo -->
								<div class="hover-overlay text-center" style="border-radius: 50%;"> 

									<!-- Photo -->
									<img class="img-fluid" style=" height: 280px; width:100%;" src="{% static  'front/images/ekc/prof.jpg' %}" alt="doctor-foto">	
									<!-- <div class="item-overlay"></div> -->

								</div>		
								
								<!-- Doctor Meta -->		
								<div class="doctor-meta text-center ">

									<h5 class="h5-sm steelblue-color"> Prof. Eva J. Kantelhardt</h5>
									<span class="blue-color">General Supervisor </span>

								</div>	

							</div>			
						</div>	<!-- END DOCTOR #4 -->


					</div>	    <!-- End row -->


					<!-- ALL DOCTORS BUTTON -->		
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="all-doctors mb-40">
								<a href="{% url 'team' %}" class="btn btn-blue blue-hover" >Meet All Members</a>
							</div>
						</div>
					</div>


				</div>	   <!-- End container -->
			</section>	<!-- END TEAM-1 -->




			<!-- TESTIMONIALS-2
			============================================= -->
			<section id="reviews-2" class="bg-lightgrey  reviews-section division pt-5">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row">	
						<div class="col-lg-10 offset-lg-1 section-title">		

							<!-- Title 	-->	
							<h3 class="h3-md steelblue-color">What Our Visitors Say</h3>	

							<!-- Text -->
							<p>Our visitors and subscribers are our testimnies for the queality service we provide.
							</p>
										
						</div> 
					</div>	 <!-- END SECTION TITLE -->
				
					
					<!-- TESTIMONIALS CONTENT -->
					<div class="row">
						<div class="col-md-12">					
							<div class="owl-carousel owl-theme reviews-holder">

					

								
								{% for f in feedback %}
								<!-- TESTIMONIAL #4 -->
								{% if forloop.counter <= 4 %}
								<!-- TESTIMONIAL #4 -->
								<div class="review-2">
									<div class="review-txt text-center">

										<!-- Quote -->
										<div class="quote"><img src="{% static  'front/images/quote.png' %}" alt="quote-img" /></div>

										<!-- Author Avatar -->
										<div class="testimonial-avatar">
											<img src="{% static  'front/images/ekc/user.png' %}" alt="testimonial-avatar">
										</div>	
																
										<!-- Testimonial Text -->
										<p>{{f.message}}
										</p>

										<div class="review-author">
											<h5 class="h5-sm">{{f.name}}</h5>	
										</div>	
									
					
									</div>						
								</div>	
								{% endif %}<!-- END TESTIMONIAL #4 -->

								{% endfor %}
								
					

							
							</div>
						</div>									
					</div>	<!-- END TESTIMONIALS CONTENT --> 
							
						
				</div>	   <!-- End container -->
			</section>	 <!-- END TESTIMONIALS-2 -->



			<!-- STATISTIC-1
			============================================= -->
			<div id="statistic-1" class="bg-scroll statistic-section division">
				<div class="container white-color">
					<div class="row">


						<!-- STATISTIC BLOCK #1 -->
						<div class="col-md-6 col-lg-3">						
							<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.4s">

								<!-- Icon  -->
								<span class="flaticon-150-clipboard"></span>

								<!-- Text -->
								<h5 class="statistic-number"><span class="count-element">9</span></h5>
								<p class="txt-400">Conducted Researches</p>																			
													
							</div>								
						</div>


						<!-- STATISTIC BLOCK #2 -->
						<div class="col-md-6 col-lg-3">								
							<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.6s">

								<!-- Icon  -->
								<span class="flaticon-137-doctor"></span>

								<!-- Text -->
								<h5 class="statistic-number"><span class="count-element">62</span></h5>	
								<p class="txt-400">Qualified Care Providers</p>										
																		
							</div>							
						</div>


						<!-- STATISTIC BLOCK #3 -->
						<div class="col-md-6 col-lg-3">					
							<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.8s">	

								<!-- Icon  -->
								<span class="flaticon-065-hospital-bed"></span>

								<!-- Text -->
								<h5 class="statistic-number">3,<span class="count-element">864</span></h5>
								<p class="txt-400">Successful screenings </p>									

							</div>						
						</div>
					

						<!-- STATISTIC BLOCK #4 -->
						<div class="col-md-6 col-lg-3">						
							<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="1s">	

								<!-- Icon  -->
								<span class="flaticon-040-placeholder"></span>

								<!-- Text -->	
								<h5 class="statistic-number"><span class="count-element">13</span></h5>
								<p class="txt-400">Peripheral Centers</p>				
								
							</div>						
						</div>


					</div>  <!-- End row -->
				</div>	 <!-- End container -->		
			</div>	 <!-- END STATISTIC-1 -->

						<!-- PARTNERS-2
			============================================= -->
			<section id="reviews-2" class=" reviews-section division pt-5">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row">	
						<div class="col-lg-10 offset-lg-1 section-title">		

							<!-- Title 	-->	
							<h3 class="h3-md steelblue-color">In Collaboration With</h3>	

							<!-- Text -->
							<p> experienced institutions all over the world.
							</p>
						</div> 
					</div>	 <!-- END SECTION TITLE -->
				
					
					<!-- TESTIMONIALS CONTENT -->
					<div class="row">
						<div class="col-md-12">					
							<div class="owl-carousel owl-theme reviews-holder">

						
								<!-- TESTIMONIAL #1 -->
								<div class="review-2 " >
									<div class="review-txt text-center">
											<img src="{% static  'front/images/partner/partner1.png' %}" class="text-center pl-5" style="height: 60px; width: 60%;" alt="partner img">
									</div>	
								</div>	<!--END  TESTIMONIAL #1 -->
						
						
								<!-- TESTIMONIAL #2 -->
								<div class="review-2">
									<div class="review-txt text-center">
											<img src="{% static  'front/images/partner/partner2.jpg' %}" class="text-center pl-5" style="height: 60px; width: 80%;" alt="partner img">
									</div>	
								</div>	<!-- END TESTIMONIAL #2 -->
						
						
								<!-- TESTIMONIAL #3 -->
								<div class="review-2">

										<!-- Author Avatar -->
											<img src="{% static  'front/images/partner/partner3.png' %}"  class="text-center pl-3"  style="height: 60px; width: 80%;" alt="partner img">
										
												
										<!-- Testimonial Author -->
															
								</div>	<!-- END TESTIMONIAL #3 -->


								<!-- TESTIMONIAL #3 -->
								<div class="review-2">
									<div class="review-txt text-center">
											<img src="{% static  'front/images/partner/partner4.png' %}" class="text-center pl-5 pl-5 pl-5 pl-5" style="height: 60px; width: 50%;"  alt="partner img">
									</div>
										<!-- Testimonial Author -->
										

								</div>	

								
							
							</div>
						</div>									
					</div>	<!-- END TESTIMONIALS CONTENT --> 
							
						
				</div>	   <!-- End container -->
			</section>	 <!-- END PARTNERS-2 -->

			


						<!-- LOCATION-1
			============================================= -->
			<section id="reviews-2" class="bg-lightgrey  reviews-section division">
				
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39718.07047618998!2d38.71604757427893!3d9.015176903295451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b85f64a25e359%3A0xb8105df64d5a701b!2sBlack%20Lion%20Hospital%2C%20AAU%2C%20School%20of%20Medicine!5e0!3m2!1sen!2sde!4v1685680963716!5m2!1sen!2sde" width="1400" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						
				
			</section>	 <!-- END LOCATION-1 -->
		{% endblock %}														